<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>TiMaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="webjars/js-cookie/2.2.1/js.cookie.js"
            th:src="@{/webjars/js-cookie/2.2.1/js.cookie.js}"></script>
    <script type="text/javascript" src="../../static/js/token.js" th:src="@{/js/token.js}"></script>
    <script type="text/javascript" src="../../static/js/logout.js" th:src="@{/js/logout.js}"></script>
</head>
<th:block layout:fragment="default_style"></th:block>
<body>
<div layout:fragment="default_div">
</div>
<script type="text/javascript">
    $(function () {
        // if (!Cookies.get("access_token")) {
        //     token.getAccessToken();
        // }
        let toastAfterReload = sessionStorage.getItem('iziToast');
        if (toastAfterReload) {
            if (typeof iziToast) {
                toasts = JSON.parse(toastAfterReload);
                toasts.forEach(function (toast) {
                    iziToast.show({
                        title: toast['title'],
                        message:  toast['message'],
                        position: toast['position'],
                        timeout: toast['timeout'],
                        color: toast['color'],
                    });
                });
            }
            sessionStorage.removeItem('iziToast');
        }
    });
</script>
<th:block layout:fragment="default_script"></th:block>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let exportUrl = [[${@environment.getProperty('api.url.export')}]];
    let parserUrl = [[${@environment.getProperty('api.url.document')}]];
    let logoutUrl = [[${@environment.getProperty('timaven-client.client.logoutUri')}]];
    /*]]>*/
</script>
<script type="text/javascript">

    jQuery.expr[':'].icontains = function(a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    }

    function focusToNext(event, elements) {
        if (elements === undefined || elements.length === 0) return;
        if (event.which === 13) {
            event.preventDefault();
            let index = elements.index(this) + 1;
            if (index >= elements.length) index = 0;
            elements[index].focus();
        }
    }

    $(function () {
        let navLinks = $('ul.nav li.nav-item a.nav-link,nav a.nav-link:not(dropdown-toggle), nav a.dropdown-item, nav a.custom-nav-link');
        if (navLinks.length > 0) {
            $(navLinks).on('click', function () {
                sessionStorage.setItem('activeTab', $(this).attr('href'))
                if ($(this).data('type')) {
                    sessionStorage.setItem('activeTabType', $(this).data('type'))
                }
            });
            // $(navLinks).filter(':not([data-bs-toggle="modal"])').on('click', function () {
            //     sessionStorage.setItem('activeTab', $(this).attr('href'))
            // });
            let activeTab = sessionStorage.getItem('activeTab');
            let activeTabType = sessionStorage.getItem('activeTabType');
            if (activeTab) {
                let previousActiveTab = $("ul.nav li.nav-item a.nav-link.active");
                if (previousActiveTab.length > 0) {
                    previousActiveTab.removeClass('active');
                }
                let previousActiveHeaderTab = $("nav a.nav-link.active");
                if (previousActiveHeaderTab.length > 0) {
                    previousActiveHeaderTab.removeClass('active');
                }
                let currentActiveTab;
                if (activeTabType) {
                    currentActiveTab = $('ul.nav li.nav-item a.nav-link[href="' + activeTab + '"][data-type="' + activeTabType + '"]');
                } else {
                    currentActiveTab = $('ul.nav li.nav-item a.nav-link[href="' + activeTab + '"]');
                }
                if (currentActiveTab.length > 0) {
                    currentActiveTab.addClass('active');
                }
                let currentActiveHeaderTab;
                if (activeTabType) {
                    currentActiveHeaderTab = $('nav a.dropdown-item[href="' + activeTab + '"][data-type="' + activeTabType + '"]')
                        .closest('li.nav-item.dropdown').find('a.nav-link.dropdown-toggle')
                } else {
                    currentActiveHeaderTab = $('nav a.dropdown-item[href="' + activeTab + '"]')
                        .closest('li.nav-item.dropdown').find('a.nav-link.dropdown-toggle')
                }
                if (currentActiveHeaderTab.length > 0) {
                    currentActiveHeaderTab.addClass('active');
                }
                let currentActiveHeaderTab2;
                if (activeTabType) {
                    currentActiveHeaderTab2 = $('nav ul.navbar-nav li.nav-item:not(.dropdown) a.nav-link[href="' + activeTab + '"][data-type="' + activeTabType + '"]')
                } else {
                    currentActiveHeaderTab2 = $('nav ul.navbar-nav li.nav-item:not(.dropdown) a.nav-link[href="' + activeTab + '"]')
                }
                if (currentActiveHeaderTab2.length > 0) {
                    currentActiveHeaderTab2.addClass('active');
                }
            }
        }
        // Temporary fix for not support ui library bootstrap 5
        setTimeout(function () {
            $(".gj-datepicker,.gj-timepicker").find('span.input-group-append button')
                .addClass('h-100 border-start-0').removeClass('border-left-0');
            $("button.multiselect.dropdown-toggle.custom-select").attr('data-bs-toggle', 'dropdown')
        }, 500);

        addDefaultTableEvents();
        addSelectableTableEvents(); // TM-314
    });

    function addDefaultTableEvents() {
        let searchableTh = $('table thead tr th.searchable');

        let searchInput =
            `<div class="input-group mt-1">
                <input class="th-filter form-control" type="text" placeholder="Enter to filter" aria-label="Enter to filter" aria-describedby="i-times">
                    <button type="button" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
                        <i class="fa fa-times"></i>
                    </button>
            </div>`
        searchableTh.append(searchInput);

        $('input.th-filter').each(function (){
            $(this).closest('div').find('button').on('click', function() {
                $(this).closest('div').find('input.th-filter').val("").trigger("input");
            });
            $(this).closest('th').css('min-width', '160px');
        });

        $(".th-filter").on("input", function() {
            let val = $(this).val().trim();
            let table = $(this).closest('table');
            if (val) {
                let th = $(this).closest('th');
                let colIndex = th.parent().children().index(th);
                // nth-child is 1-indexed
                let tr1 = table.find('tbody td:nth-child(' + (colIndex + 1) + '):icontains("' + val + '")').closest('tr');

                let tr = [];
                $(tr1).each(function () {
                    let trName = $(this).attr("name");
                    if (typeof trName !== typeof undefined) {
                        // show/hide grouped tr by name
                        let trRows = table.find('tbody tr[name="'+ trName + '"]');
                        $(trRows).each(function () {
                            tr.push(this);
                        });
                    } else {
                        tr.push(this);
                    }
                });

                // tr could have rowSpan
                let notTr = table.find('tbody tr').not($.makeArray(tr));
                $(tr).show();
                $(tr).removeClass("hidden").addClass("visible")
                $(notTr).hide();
                $(notTr).removeClass("visible").addClass("hidden")
            } else {
                let tr = table.find('tbody tr');
                $(tr).show();
                $(tr).removeClass("hidden").addClass("visible")
            }
        });

    }

    // TM-314
    /**
     * Add events to table-thead-th that have class .selectable to
     * make a multiselect button for each selectable th to filter table.
     *
     * To using this function please make sure you have import
     * multiselect js and css file.
     *
     * In general, as outcome for checking or unchecking a dropdown list item,
     * table-tr should hide or show by all dropdown checked items in table,
     * and other dropdown item using remake (dropdown checked items can be
     * determined by each $(select).data('selected') array).
     *
     * In table, td should contain '<span data-type=content>' which is
     * used as option's value and title and used by tr match mechanism.
     */
    function addSelectableTableEvents() {
        // Init all table in the current page
        const tableSet = $('table thead th.selectable')
            .toArray()
            .reduce((acc, th) => acc.add($(th).closest('table').get(0)), new Set());
        tableSet.forEach(table => initSelectable($(table), onChange));

        // Without this statement, multiselect cannot work properly
        $("button.multiselect.dropdown-toggle.custom-select").attr('data-bs-toggle', 'dropdown');

        function onChange(option, checked) {
            const table = option.closest('table');
            const currentTh = option.closest('th');
            const visibleTrElements = [];
            const hiddenTrElements = [];
            const selectableTh = [];

            const selected = option.parent().data('selected');
            if (checked) {
                selected.push(option.val().trim());
            } else {
                const index = selected.indexOf(option.val().trim());
                selected.splice(index, 1);
            }

            table.find('thead th.selectable').each(function(){
                selectableTh.push(this);
                filterTr(table, $(this), visibleTrElements, hiddenTrElements);
            });
            $(visibleTrElements).removeClass('hidden').addClass('visible').show();
            $(hiddenTrElements).removeClass('visible').addClass('hidden').hide();
            selectableTh.filter(th => th !== currentTh.get(0))
                .forEach(th => remakeDropdown($(th)));
            postProcessSpecialCases(table, currentTh);
        }

        /**
         * Special cases:
         * <ul>
         *     <li>1. other select have not options</li>
         *     <li>2. current selected only one option, and other select have not selected options</li>
         * </ul>
         */
        function postProcessSpecialCases(table, currentTh) {
            const rows = table.find('tbody tr').length;
            if (rows !== 0
                && countOtherOptions(table, currentTh) === 0) {
                resetAllDropdown(table);
                displayAllTrs(table);
            } else {

                const currentDropdownChecked = currentTh.find('option:selected').length;
                if (currentDropdownChecked === 0
                    && countOtherOptions(table, currentTh, true) === 0) {
                    remakeDropdown(currentTh);
                }
            }
        }

        function displayAllTrs(table) {
            table.find('tbody tr').removeClass('hidden').addClass('visible').show();
        }

        /**
         * Get the number of other select options.
         * @param table
         * @param currentTh
         * @param selected whether count only selected options
         */
        function countOtherOptions(table, currentTh, selected) {
            const selector = `option${selected ? ':selected' : ''}`;
            let count = table.find('thead th.selectable')
                .toArray()
                .filter(th => th !== currentTh.get(0))
                .reduce((acc, cur) => {
                    return acc + $(cur).find(selector).length;
                }, 0);
            return count;
        }

        /**
         * Filter all tr element in the table into two array
         * @param {jQuery} table
         * @param {jQuery} th
         * @param {Array} visibleElements, whose elements are tr elements that should show
         * @param {Array} hiddenElements, whose elements are tr elements that should hide
         */
        function filterTr(table, th, visibleElements, hiddenElements){
            const multiselect = th.find('select').data('multiselect');
            let selectedValues = Array.from(multiselect.$select.data('selected'));
            const colIndex = th.closest('tr').children().index(th);

            // If selected options length is 0, it equals to select all effectively
            if (selectedValues.length === 0) {
                let effectiveSet = getContents(table, colIndex, `tbody td:nth-child(${colIndex+1})`);
                effectiveSet.add('');
                if (effectiveSet.size !== 0) {
                    selectedValues = Array.from(effectiveSet);
                }
            }

            const selector = `td:nth-child(${colIndex+1})`;
            if (visibleElements.length === 0 && hiddenElements.length === 0) {
                table.find('tbody tr').each(function(){
                    let matched = false;
                    const spans = $(this).find(selector).find('span[data-type=content]').toArray();
                    if (spans.length === 0
                        && selectedValues.indexOf('') !== -1) {
                        matched = true;
                    } else {
                        for (let i = 0; i < spans.length; i++) {
                            if (selectedValues.indexOf($(spans[i]).text().trim()) !== -1) {
                                matched = true;
                                break;
                            }
                        }
                    }
                    if (matched) {
                        visibleElements.push(this);
                    } else {
                        hiddenElements.push(this);
                    }
                });
            } else {
                $(visibleElements).each(function(){
                    let text = null;
                    const spans = $(this).find(selector).find('span[data-type=content]');
                    if (spans.length > 1) {
                        text = spans.filter('.primary').text().trim();
                    } else {
                        text = spans.text().trim();
                    }

                    if (selectedValues.indexOf(text) === -1) {
                        const index = visibleElements.indexOf(this);
                        const deleted = visibleElements.splice(index, 1);
                        hiddenElements.push(deleted[0]);
                    }
                });
            }

            // Process group tr
            filterTrInGroup(visibleElements, hiddenElements);
        }
        function filterTrInGroup(visibleElements, hiddenElements) {
            if (visibleElements.length + hiddenElements.length < 2) return;
            const anyone = visibleElements.concat(hiddenElements)[0];
            const attrs = Array.from(anyone.getAttributeNames());
            const keys = ['id', 'name'];
            let groupKey = null;
            for (let i = 0; i < keys.length; i++) {
                if (attrs.indexOf(keys[i]) !== -1) {
                    groupKey = keys[i];
                    break;
                }
            }

            if (groupKey === null) return;
            const map = visibleElements.concat(hiddenElements).reduce((acc, tr) => {
                const id = $(tr).attr(groupKey);
                if (acc[id] === undefined) {
                    acc[id] = { trs: [tr], visible: false }
                } else {
                    acc[id].trs.push(tr);
                }
                if (!acc[id].visible && visibleElements.indexOf(tr) !== -1) {
                    acc[id].visible = true;
                }
                return acc;
            }, {});

            visibleElements.splice(0, visibleElements.length);
            hiddenElements.splice(0, hiddenElements.length);
            Object.values(map).reduce((acc, cur) => {
                if (cur.visible) {
                    acc[0].push(...cur.trs);
                } else {
                    acc[1].push(...cur.trs);
                }
                return acc;
            }, [visibleElements, hiddenElements]);
        }

        /**
         * Remake Dropdown using multiselect.dataprovider() method,
         * remake means using visible tr contents to make options (or dropdown items),
         * check options that user checked previously.
         * @param {jQuery} $th th element wrapped with jQuery that should remake dropdown
         */
        function remakeDropdown($th) {
            const table = $th.closest('table');
            const colIndex = $th.parent().children().index($th);
            const multiselect = $th.find('select').data('multiselect');

            // Get current selected values
            const selected = Array.from(multiselect.$select.data('selected'));

            // Get dropdown values though current display element within same column index
            const valueSet = getContents(table, colIndex, `tbody tr.visible td:nth-child(${colIndex+1})`);

            // Make options selected which value is in variable 'selected'
            const options = [];
            valueSet.forEach(val => {
                if (selected.indexOf(val) === -1) {
                    options.push({ title: val, value: val});
                } else {
                    options.push({ title: val, value: val, selected: true });
                }
            });
            multiselect.dataprovider(options);
        }

        function resetAllDropdown(table) {
            table.find('thead th.selectable').each(function(){
                resetDropdown($(this));
            });
        }

        /**
         * Reset means making dropdowns using tbody-tr no matter whether it is visible or not.
         */
        function resetDropdown(th) {
            const table = th.closest('table');
            const multiselect = th.find('select').data('multiselect');
            const colIndex = th.parent().children().index(th);
            const contentSet = getContents(table, colIndex, `tbody td:nth-child(${colIndex+1})`);
            const options = [];
            contentSet.forEach(val => {
                options.push({ title: val, value: val});
            });
            multiselect.dataprovider(options);
            multiselect.$select.data('selected', []);
        }

        /**
         * Get Set that contains unique strings by which to build a dropdown item
         * @param {jQuery} table
         * @param {Number} colIndex
         * @param {String} selector
         * @returns {Set<String>}
         */
        function getContents(table, colIndex, selector) {
            const contentSet = new Set();
            table.find(selector).each(function(){
                const spans = $(this).find('span[data-type=content]');
                if (spans.length < 1) return;

                const primarySpans = spans.filter('.primary');
                if (primarySpans.length > 0) {
                    primarySpans.each((idx, span) => {
                        contentSet.add($(span).text().trim())
                    });
                } else {
                    spans.each((idx, span) => contentSet.add($(span).text().trim()));
                }
            });
            return contentSet;
        }

        /**
         * Initialize table. Specifically, init select to multiselect,
         * add select data storage 'selected' to empty array:
         * <pre>
         *     $(select).data('selected') = [];
         * </pre>
         * @param table
         * @param onChange
         */
        function initSelectable(table, onChange) {
            const selectables = table.find('thead th.selectable');
            selectables.each(function(){
                const th = $(this);
                let colIndex = th.closest('tr').children().index(th);
                const colTdSelector = `tbody td:nth-child(${colIndex+1})`;
                const optionTextSet = getContents(table, colIndex, colTdSelector);
                const select = $('<select />', {multiple: 'multiple'}).appendTo(th);
                optionTextSet.forEach(text => {
                    select.append('<option value="'+ text +'">'+ text +'</option>');
                });

                select.multiselect({
                    onChange: onChange,
                    maxHeight: 200,
                    numberDisplayed: 1,
                    buttonWidth: 120,
                    enableFiltering: true,
                    templates: {
                        filter: `<div class="multiselect-filter d-flex align-items-center">
                            <i class="fas fa-sm fa-search text-muted"></i>
                            <input type="search" class="multiselect-search form-control" style="width: 100%"/></div>`
                    }
                });
                let selected = select.data('selected');
                if (selected === undefined) {
                    selected = [];
                    select.data('selected', selected);
                }
            });
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
