.cover-container {
    margin: auto;
    text-align: center!important;
}
/*td {*/
/*    max-width: 150px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/
