<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Timaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <style type="text/css">
        @import url("https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css");
    </style>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand nav-link col-sm-3 col-md-2 me-0" href="../projects-dashboard.html" th:href="@{/home}">
            <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                 alt="TiMaven" width="128" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin"
                aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAdmin">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                <li class="nav-item">
                    <a class="nav-link active" href="../projects-dashboard.html" th:href="@{/home}">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProjects" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-building"></i>
                        <span>Projects</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownProjects">
                        <li>
                            <a class="dropdown-item" href="../rule.html" th:href="@{/rule}">
                                <i class="far fa-building"></i>
                                Corporate Set Up
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="../projects.html" th:href="@{/projects}">
                                <i class="far fa-building"></i>
                                Project Set Up
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/users}" href="../users.html">
                                <i class="fas fa-users"></i>
                                Company Users
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#div-payroll-report" data-bs-toggle="modal">
                                <i class="fas fa-file-alt"></i>
                                Manage Payroll
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCostCode" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tags"></i>
                        <span>Cost Code</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCostCode">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/cost-codes}" href="../cost-codes.html">
                                Cost Code Management
                            </a>
                            <a class="dropdown-item"
                               th:href="@{/code-segments}" href="../code-segments.html">
                                Billing Code Management
                            </a>
                            <a class="dropdown-item" href="../cost-code-structure.html" th:href="@{/cost-code-structure}">
                                Cost Code Structure
                            </a>
                        </li>
                    </ul>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEquipment" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        <i class="fas fa-truck-pickup"></i>-->
<!--                        <span>Equipment</span>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownEquipment">-->
<!--                        <li>-->
<!--                            <a class="dropdown-item"-->
<!--                               th:href="@{/equipment-list}" href="../equipment-list.html">-->
<!--                                Co. Owned Equipment-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li id="li-reports" class="nav-item dropdown" style="display: none">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" data-type="report-labor">
                        <i class="far fa-chart-bar"></i>
                        <span>Reports</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownReports">
                        <li id="li-data-export">
                            <a class="dropdown-item" href="../report-data-export.html" th:href="@{/report-data-export}">
                                Data Export
                            </a>
                        </li>
                        <li id="li-labor-time" style="display: none">
                            <a class="dropdown-item" href="../report-labor-time.html" th:href="@{/report-labor-time}">
                                Labor Time
                            </a>
                        </li>
                        <!-- TM-410 add labor time summary-->
                        <li id="li-labor-time-summary" style="display: none">
                            <a class="dropdown-item" href="../report-labor-time-summary.html" th:href="@{/report-labor-time-summary}">
                                Labor Time Summary
                            </a>
                        </li>
                        <li id="li-totals" style="display: none">
                            <a class="dropdown-item" href="../report-totals.html" th:href="@{/report-totals}">
                                Cost Reports by totals
                            </a>
                        </li>
                        <li id="li-classification-codes" style="display: none">
                            <a class="dropdown-item" href="../report-classification-codes.html"
                               th:href="@{/report-classification-codes}">
                                Classification codes
                            </a>
                        </li>
                        <li id="li-employees" style="display: none">
                            <a class="dropdown-item" href="../report-employees.html" th:href="@{/report-employees}">
                                Summary of Employee Hours and Billing
                            </a>
                        </li>
                        <li id="li-employee-hours" style="display: none">
                            <a class="dropdown-item" href="../report-employee-hours.html"
                               th:href="@{/report-employee-hours}">
                                Weekly Employee Hours Summary
                            </a>
                        </li>
                        <li id="li-per-diem-expense" style="display: none">
                            <a class="dropdown-item" href="../report-per-diem-expense.html"
                               th:href="@{/report-per-diem-expense}">
                                Weekly Per Diem Expense Summary
                            </a>
                        </li>
                        <!-- TM-367 a new report for Weekly Travel Pay Summary -->
                        <li id="li-travel-pay-summary" style="display: none">
                            <a class="dropdown-item" href="../report-travel-pay-summary.html"
                               th:href="@{/report-travel-pay-summary}">
                                Weekly Travel Pay Summary
                            </a>
                        </li>
                        <li id="li-owned-equipment" style="display: none">
                            <a class="dropdown-item" href="../report-owned-equipment.html"
                               th:href="@{/report-owned-equipment}">
                                Co. Owned Equipment Report
                            </a>
                        </li>
                        <li id="li-third-equipment" style="display: none">
                            <a class="dropdown-item" href="../report-third-equipment.html"
                               th:href="@{/report-third-equipment}">
                                3rd Equipment Report
                            </a>
                        </li>
                        <li id="li-equipment-billing" style="display: none">
                            <a class="dropdown-item" href="../report-equipment-billing.html"
                               th:href="@{/report-equipment-billing}">
                                Equipment Billing
                            </a>
                        </li>
<!--                        <li id="li-absentee-report" style="display: none">-->
<!--                            <a class="dropdown-item" href="../report-absentee.html"-->
<!--                               th:href="@{/report-absentee}">-->
<!--                                Absentee report-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li id="li-whoisin-report" style="display: none">-->
<!--                            <a class="dropdown-item" href="../report-whoisin.html"-->
<!--                               th:href="@{/report-whoisin}">-->
<!--                                Who is in report-->
<!--                            </a>-->
<!--                        </li>-->
                        <li id="li-ot-report" style="display: none">
                            <a class="dropdown-item" href="../report-ot.html"
                               th:href="@{/report-ot}">
                                OT report
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                        <li id="li-rpc-profit-detail-report" style="display: none">
                            <a class="dropdown-item" href="../report-rpc-profit-detail.html"
                               th:href="@{/report-rpc-profit-detail}">
                                RPC profit detail
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProjectTemplate" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-file-archive"></i>
                        <span>Project Template</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarProjectTemplate">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/project-template}" href="../project-template.html">
                                Project Template
                            </a>
                        </li>
                        <li id="li-company-documents" style="display: none">
                            <a class="dropdown-item"
                               th:href="@{/company-documents}" href="../company-documents.html">
                                Company Documents
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserSetting" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${T(com.timaven.timekeeping.common.SUtils).getDisplayName()}">Username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownUserSetting">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/user(username=${#authentication.getPrincipal().getUsername()})}" href="../update-user.html">
                                <i class="fas fa-user-cog"></i>
                                User Setting
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="me-3">
                <a class="fas fa-inbox fa-1x custom-nav-link" href="../notifications.html" th:href="@{/notifications}">
                    <span id="sp-admin-comment" class="fa fa-comment hidden" style="display: none"></span>
                    <span id="sp-admin-comment-num" class="num"></span>
                </a>
            </div>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="#" th:href="@{/login}">
                        <i class="fas fa-sign-in-alt"></i>
                        Log in
                    </a>
                </li>
                <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href=""
                       onclick="logout.logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="div-payroll-report" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Weekly Payroll</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="sidebar-datepicker-payroll-report">Select week period:</label>
                        <input id="sidebar-datepicker-payroll-report" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-payroll-report-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $.ajax({
                method: 'GET',
                url: `notification-count`,
                success: function (data) {
                    let notificationCount = parseInt(data);
                    if (notificationCount > 0) {
                        let spComment = $('#sp-admin-comment');
                        spComment.show();
                        spComment.removeClass('hidden').addClass('visible');
                        let spCommentNum = $('#sp-admin-comment-num');
                        spCommentNum.text(notificationCount);
                    }
                },
            });
            updateFeatureDisplay();
            $('#sidebar-datepicker-payroll-report').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                disableDaysOfWeek: [1, 2, 3, 4, 5, 6],
            });
            $("#btn-payroll-report-ok").on("click", function () {
                let weekEndDate = $("input#sidebar-datepicker-payroll-report").val();
                if (weekEndDate) {
                    window.location = `weekly-payroll?weekEndDate=${weekEndDate}`;
                } else {
                    alert("Week Ending Date is required");
                }
            });
        });

        function updateFeatureDisplay() {
            $.ajax({
                url: 'feature-flags',
                success: function (data) {
                    let hasAnyReportLi = false;
                    if (data['labor-time-report']) {
                        $('#li-labor-time').show();
                        $('#sidebar-li-labor-time').show();
                        hasAnyReportLi = true;
                    }
                    if (data['totals-report']) {
                        $('#li-totals').show();
                        $('#sidebar-li-totals').show();
                        hasAnyReportLi = true;
                    }
                    if (data['classification-codes-report']) {
                        $('#li-classification-codes').show();
                        $('#sidebar-li-classification-codes').show();
                        hasAnyReportLi = true;
                    }
                    if (data['employees-report']) {
                        $('#li-employees').show();
                        $('#sidebar-li-employees').show();
                        hasAnyReportLi = true;
                    }
                    if (data['employee-hours-report']) {
                        $('#li-employee-hours').show();
                        $('#sidebar-li-employee-hours').show();
                        hasAnyReportLi = true;
                    }
                    if (data['per-diem-expense-report']) {
                        $('#li-per-diem-expense').show();
                        $('#sidebar-li-per-diem-expense').show();
                        hasAnyReportLi = true;
                    }
                    // TM-367 a new report for Weekly Travel Pay Summary
                    if (data['travel-pay-summary-report']) {
                        $('#li-travel-pay-summary').show();
                        $('#sidebar-li-travel-pay-summary').show();
                        hasAnyReportLi = true;
                    }
                    if (data['owned-equipment-report']) {
                        $('#li-owned-equipment').show();
                        $('#sidebar-li-owned-equipment').show();
                        hasAnyReportLi = true;
                    }
                    if (data['third-equipment-report']) {
                        $('#li-third-equipment').show();
                        $('#sidebar-li-third-equipment').show();
                        hasAnyReportLi = true;
                    }
                    if (data['equipment-billing']) {
                        $('#li-equipment-billing').show();
                        $('#sidebar-li-equipment-billing').show();
                        hasAnyReportLi = true;
                    }
                    // if (data['absentee']) {
                    //     $('#li-absentee-report').show();
                    //     $('#sidebar-li-absentee-report').show();
                    //     hasAnyReportLi = true;
                    // }
                    // if (data['whoisin']) {
                    //     $('#li-whoisin-report').show();
                    //     $('#sidebar-li-whoisin-report').show();
                    //     hasAnyReportLi = true;
                    // }
                    if (data['ot-report']) {
                        $('#li-ot-report').show();
                        $('#sidebar-li-ot-report').show();
                        hasAnyReportLi = true;
                    }
                    // TM-??? RPC profit detail
                    if (data['third-rpc-profit-detail-report']) {
                        $('#li-rpc-profit-detail-report').show();
                        $('#sidebar-li-rpc-profit-detail-report').show();
                        hasAnyReportLi = true;
                    }
                    if (hasAnyReportLi) {
                        $('#li-reports').show();
                    }
                    // TM-287
                    if (data['company-documents']) {
                        $('#li-company-documents').show();
                        $('#sidebar-li-company-documents').show();
                    }
                    if (data['labor-time-summary-report']) {
                        $('#li-labor-time-summary').show();
                        $('#sidebar-li-labor-time-summary').show();
                    }
                },
            });
        }
    </script>
</div>
<div class="container-fluid">
    <div class="row h-100">
        <div th:fragment="sidebar-projects">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active"
                               th:href="@{/rule}" href="../rule.html">
                                <i class="far fa-building"></i>
                                Corporate Set Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               th:href="@{/projects}" href="../projects.html">
                                <i class="far fa-building"></i>
                                Project Set Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/users}" href="../users.html">
                                <i class="fas fa-users"></i>
                                Company Users
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-cost-code">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/cost-codes}" href="../cost-codes.html">
                                Cost Code Management
                            </a>
                            <a class="nav-link"
                               th:href="@{/code-segments}" href="../cost-codes.html">
                                Billing Code Management
                            </a>
                            <a class="nav-link" href="../cost-code-structure.html" th:href="@{/cost-code-structure}">
                                Cost Code Structure
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
<!--        <div th:fragment="sidebar-equipment">-->
<!--            <nav class="col-md-2 d-none d-md-block bg-light sidebar">-->
<!--                <div class="sidebar-sticky">-->
<!--                    <ul class="nav flex-column">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link"-->
<!--                               th:href="@{/equipment-list}" href="../equipment-list.html">-->
<!--                                <i class="fas fa-truck-pickup"></i>-->
<!--                                Co. Owned Equipment-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </div>-->
        <div th:fragment="sidebar-reports">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li id="sidebar-li-data-export">
                            <a class="nav-link" href="../report-data-export.html" th:href="@{/report-data-export}">
                                Data Export
                            </a>
                        </li>
                        <li id="sidebar-li-labor-time" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-labor-time.html" th:href="@{/report-labor-time}">
                                Labor Time
                            </a>
                        </li>
                        <li id="sidebar-li-labor-time-summary" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-labor-time-summary.html" th:href="@{/report-labor-time-summary}">
                                Labor Time Summary
                            </a>
                        </li>
                        <li id="sidebar-li-totals" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-totals.html" th:href="@{/report-totals}">
                                Cost Reports by totals
                            </a>
                        </li>
                        <li id="sidebar-li-classification-codes" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-classification-codes.html"
                               th:href="@{/report-classification-codes}">
                                Classification codes
                            </a>
                        </li>
                        <li id="sidebar-li-employees" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-employees.html" th:href="@{/report-employees}">
                                Summary of Employee Hours and Billing
                            </a>
                        </li>
                        <li id="sidebar-li-employee-hours" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-employee-hours.html" th:href="@{/report-employee-hours}">
                                Weekly Employee Hours Summary
                            </a>
                        </li>
                        <li id="sidebar-li-per-diem-expense" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-per-diem-expense.html"
                               th:href="@{/report-per-diem-expense}">
                                Weekly Per Diem Expense Summary
                            </a>
                        </li>
                        <!-- TM-367 a new report for Weekly Travel Pay Summary -->
                        <li id="sidebar-li-travel-pay-summary" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-travel-pay-summary.html"
                               th:href="@{/report-travel-pay-summary}">
                                Weekly Travel Pay Summary
                            </a>
                        </li>
                        <li id="sidebar-li-owned-equipment" style="display: none">
                            <a class="nav-link" href="../report-owned-equipment.html"
                               th:href="@{/report-owned-equipment}">
                                Co. Owned Equipment Report
                            </a>
                        </li>
                        <li id="sidebar-li-third-equipment" style="display: none">
                            <a class="nav-link" href="../report-third-equipment.html"
                               th:href="@{/report-third-equipment}">
                                3rd Equipment Report
                            </a>
                        </li>
                        <li id="sidebar-li-equipment-billing" style="display: none">
                            <a class="nav-link" href="../report-equipment-billing.html"
                               th:href="@{/report-equipment-billing}">
                                Equipment Billing
                            </a>
                        </li>
<!--                        <li id="sidebar-li-absentee-report" style="display: none">-->
<!--                            <a class="nav-link" href="../report-absentee.html" th:href="@{/report-absentee}">-->
<!--                                Absentee report-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li id="sidebar-li-whoisin-report" style="display: none">-->
<!--                            <a class="nav-link" href="../report-whoisin.html" th:href="@{/report-whoisin}">-->
<!--                                Who is in report-->
<!--                            </a>-->
<!--                        </li>-->
                        <li id="sidebar-li-ot-report" style="display: none">
                            <a class="nav-link" href="../report-ot.html"
                               th:href="@{/report-ot}">
                                OT report
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                        <li id="sidebar-li-rpc-profit-detail-report" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-rpc-profit-detail.html"
                               th:href="@{/report-rpc-profit-detail}">
                                RPC profit detail
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-project-template">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/project-template}" href="../project-template.html">
                                Project Template
                            </a>
                        </li>
                        <li class="nav-item" id="sidebar-li-company-documents" style="display: none">
                            <a class="nav-link"
                               th:href="@{/company-documents}" href="../company-document.html">
                                Company Documents
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
