<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Timaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <style type="text/css">
        @import url("https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css");
    </style>
    <link href="../../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <script src="../../static/js/moment.js" th:src="@{/js/moment.js}"></script>
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand nav-link col-sm-3 col-md-2 me-0" href="../projects-dashboard.html" th:href="@{/home}">
            <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                 alt="TiMaven" width="128" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin"
                aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAdmin">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                <li class="nav-item">
                    <a class="nav-link active" href="../projects-dashboard.html" th:href="@{/home}">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item dropdown"
                    sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLaborTime" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-id-badge"></i>
                        <span>Labor/Time</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownLaborTime">
                        <li sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <a class="dropdown-item" th:href="@{/employees}" href="../employees.html">
                                <i class="fas fa-users-cog"></i>
                                Employees
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <a class="dropdown-item" href="#div-corporate-weekly-process" data-bs-toggle="modal">
                                <i class="fas fa-tasks"></i>
                                Weekly timesheet process
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                            <a class="dropdown-item" href="#div-payroll-report" data-bs-toggle="modal">
                                <i class="fas fa-file-alt"></i>
                                Process Payroll
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                            <a class="dropdown-item" href="#div-reconcile" data-bs-toggle="modal">
                                <i class="fas fa-clipboard-list"></i>
                                OT Reconciliation
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPurchasing" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Purchasing</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownPurchasing">
                        <li>
                            <a class="dropdown-item" href="../purchase-vendor-roster.html"
                               th:href="@{/purchase-vendor-roster}">
                                <i class="fas fa-receipt"></i>
                                Vendor Roster
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="../purchase-requisitions.html"
                               th:href="@{/purchase-requisitions}">
                                <i class="fas fa-receipt"></i>
                                Purchase Requisitions
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="../purchase-orders.html" th:href="@{/purchase-orders}">
                                <i class="fas fa-shopping-cart"></i>
                                Purchase Orders
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="li-reports" class="nav-item dropdown" style="display: none"
                    sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" data-type="report-labor">
                        <i class="far fa-chart-bar"></i>
                        <span>Reports</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownReports">
                        <li id="li-data-export">
                            <a class="dropdown-item" href="../report-data-export.html" th:href="@{/report-data-export}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Data Export
                            </a>
                        </li>
                        <li id="li-labor-time" style="display: none">
                            <a class="dropdown-item" href="../report-labor-time.html" th:href="@{/report-labor-time}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Labor Time
                            </a>
                        </li>
                        <li id="li-labor-time-summary" style="display: none">
                            <a class="dropdown-item" href="../report-labor-time-summary.html" th:href="@{/report-labor-time-summary}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Labor Time Summary
                            </a>
                        </li>
                        <li id="li-totals" style="display: none">
                            <a class="dropdown-item" href="../report-totals.html" th:href="@{/report-totals}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Cost Reports by totals
                            </a>
                        </li>
                        <li id="li-classification-codes" style="display: none">
                            <a class="dropdown-item" href="../report-classification-codes.html"
                               th:href="@{/report-classification-codes}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Classification codes
                            </a>
                        </li>
                        <li id="li-employees" style="display: none">
                            <a class="dropdown-item" href="../report-employees.html" th:href="@{/report-employees}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Summary of Employee Hours and Billing
                            </a>
                        </li>
                        <li id="li-employee-hours" style="display: none">
                            <a class="dropdown-item" href="../report-employee-hours.html"
                               th:href="@{/report-employee-hours}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Weekly Employee Hours Summary
                            </a>
                        </li>
                        <li id="li-per-diem-expense" style="display: none">
                            <a class="dropdown-item" href="../report-per-diem-expense.html"
                               th:href="@{/report-per-diem-expense}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Weekly Per Diem Expense Summary
                            </a>
                        </li>
                        <!-- TM-367 a new report for Weekly Travel Pay Summary -->
                        <li id="li-travel-pay-summary" style="display: none">
                            <a class="dropdown-item" href="../report-travel-pay-summary.html"
                               th:href="@{/report-travel-pay-summary}">
                                Weekly Travel Pay Summary
                            </a>
                        </li>
                        <li id="li-owned-equipment" style="display: none">
                            <a class="dropdown-item" href="../report-owned-equipment.html"
                               th:href="@{/report-owned-equipment}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Co. Owned Equipment Report
                            </a>
                        </li>
                        <li id="li-third-equipment" style="display: none">
                            <a class="dropdown-item" href="../report-third-equipment.html"
                               th:href="@{/report-third-equipment}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                3rd Equipment Report
                            </a>
                        </li>
                        <li id="li-equipment-billing" style="display: none">
                            <a class="dropdown-item" href="../report-equipment-billing.html"
                               th:href="@{/report-equipment-billing}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Equipment Billing
                            </a>
                        </li>
<!--                        <li id="li-absentee-report" style="display: none">-->
<!--                            <a class="dropdown-item" href="../report-absentee.html"-->
<!--                               th:href="@{/report-absentee}"-->
<!--                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">-->
<!--                                Absentee report-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li id="li-whoisin-report" style="display: none">-->
<!--                            <a class="dropdown-item" href="../report-whoisin.html"-->
<!--                               th:href="@{/report-whoisin}"-->
<!--                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">-->
<!--                                Who is in report-->
<!--                            </a>-->
<!--                        </li>-->
                        <li id="li-ot-report" style="display: none">
                            <a class="dropdown-item" href="../report-ot.html"
                               th:href="@{/report-ot}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                OT report
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                        <li id="li-rpc-profit-detail-report" style="display: none">
                            <a class="dropdown-item" href="../report-rpc-profit-detail.html"
                               th:href="@{/report-rpc-profit-detail}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                RPC profit detail
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCorporateSetup" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-project-diagram"></i>
                        <span>Corporate Setup</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCorporateSetup">
                        <li>
                            <a class="dropdown-item" th:href="@{/crafts}" href="../craft-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Labor Rates
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProjectTemplate" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-file-archive"></i>
                        <span>Project Template</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarProjectTemplate">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/project-template}" href="../project-template.html">
                                Project Template
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserSetting" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${T(com.timaven.timekeeping.common.SUtils).getDisplayName()}">Username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownUserSetting">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/user(username=${#authentication.getPrincipal().getUsername()})}"
                               href="../update-user.html">
                                <i class="fas fa-user-cog"></i>
                                User Setting
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="#" th:href="@{/login}">
                        <i class="fas fa-sign-in-alt"></i>
                        Log in
                    </a>
                </li>
                <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href=""
                       onclick="logout.logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="div-payroll-report" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Weekly Payroll</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="sidebar-datepicker-payroll-report">Select week period:</label>
                        <input id="sidebar-datepicker-payroll-report" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-payroll-report-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-reconcile" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reconcile</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="sidebar-datepicker4">Week Ending Date:</label>
                        <input id="sidebar-datepicker4" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-reconcile-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-corporate-weekly-process" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Weekly Process</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="corporate-weekly-process-datepicker">Week Ending Date:</label>
                        <input id="corporate-weekly-process-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <label>Please select a team</label>
                    <select name="sidebar-team" class="form-select" title="Select a team">
                        <option selected disabled hidden>Select</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-corporate-weekly-process-ok" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let weeklyProcessInputDate;
        $(function () {
            let weeklyProcessTeamSelect = $("select[name='sidebar-team']");
            $('#sidebar-datepicker-payroll-report').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                disableDaysOfWeek: [1, 2, 3, 4, 5, 6],
            });
            $('#sidebar-datepicker4').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                disableDaysOfWeek: [1, 2, 3, 4, 5, 6],
            });
            $('#corporate-weekly-process-datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                disableDaysOfWeek: [1, 2, 3, 4, 5, 6],
                change: function (e) {
                    let selectedDate = e.currentTarget.value;
                    if (selectedDate !== weeklyProcessInputDate) {
                        getTeam(selectedDate, weeklyProcessTeamSelect);
                        weeklyProcessInputDate = selectedDate;
                    }
                }
            });

            $("#btn-payroll-report-ok").on("click", function () {
                let weekEndDate = $("input#sidebar-datepicker-payroll-report").val();
                if (weekEndDate) {
                    window.location = `weekly-payroll?weekEndDate=${weekEndDate}`;
                } else {
                    alert("Week Ending Date is required");
                }
            });
            $("#btn-reconcile-ok").on("click", function () {
                let weekEndDate = $("input#sidebar-datepicker4").val();
                if (weekEndDate) {
                    window.location = `reconcile?weekEndDate=${weekEndDate}`;
                } else {
                    alert("Week Ending Date is required");
                }
            });
            $("#btn-corporate-weekly-process-ok").on("click", function () {
                let team = $('select[name="sidebar-team"]').val();
                let weekEndDate = $("input#corporate-weekly-process-datepicker").val();
                if (weekEndDate && team) {
                    window.location = `corporate-weekly-process?weekEndDate=${weekEndDate}&teamName=${team}`;
                } else {
                    alert("Week Ending Date and team are both required");
                }
            });
            updateFeatureDisplay();
        });

        function getTeam(date, select) {
            let dateObj = new Date(date);
            dateObj.setDate(dateObj.getDate() - 6);
            $.ajax({
                url: 'teams',
                data: {
                    startDate: moment(dateObj).format("MM/DD/YYYY"),
                    endDate: date,
                },
                success: function (data) {
                    let selectedValue = select.val();
                    select.find("option").remove();
                    let selectOptionsStr = '';
                    if (data.indexOf(selectedValue) === -1) {
                        selectOptionsStr = '<option selected disabled hidden>Select</option>'
                    }
                    if (data.length !== 0) {
                        $.each(data, function (index, value) {
                            let selected = (value === selectedValue) ? 'selected' : '';
                            selectOptionsStr += `<option ${selected} value="${value}">${value}</option>`;
                        });
                        select.append(selectOptionsStr);
                    }
                },
            });
        }

        function updateFeatureDisplay() {
            $.ajax({
                url: 'feature-flags',
                success: function (data) {
                    let hasAnyReportLi = false;
                    if (data['labor-time-report']) {
                        $('#li-labor-time').show();
                        $('#sidebar-li-labor-time').show();
                        hasAnyReportLi = true;
                    }
                    if (data['totals-report']) {
                        $('#li-totals').show();
                        $('#sidebar-li-totals').show();
                        hasAnyReportLi = true;
                    }
                    if (data['classification-codes-report']) {
                        $('#li-classification-codes').show();
                        $('#sidebar-li-classification-codes').show();
                        hasAnyReportLi = true;
                    }
                    if (data['employees-report']) {
                        $('#li-employees').show();
                        $('#sidebar-li-employees').show();
                        hasAnyReportLi = true;
                    }
                    if (data['employee-hours-report']) {
                        $('#li-employee-hours').show();
                        $('#sidebar-li-employee-hours').show();
                        hasAnyReportLi = true;
                    }
                    if (data['per-diem-expense-report']) {
                        $('#li-per-diem-expense').show();
                        $('#sidebar-li-per-diem-expense').show();
                        hasAnyReportLi = true;
                    }
                    // TM-367 a new report for Weekly Travel Pay Summary
                    if (data['travel-pay-summary-report']) {
                        $('#li-travel-pay-summary').show();
                        $('#sidebar-li-travel-pay-summary').show();
                        hasAnyReportLi = true;
                    }
                    if (data['owned-equipment-report']) {
                        $('#li-owned-equipment').show();
                        $('#sidebar-li-owned-equipment').show();
                        hasAnyReportLi = true;
                    }
                    if (data['third-equipment-report']) {
                        $('#li-third-equipment').show();
                        $('#sidebar-li-third-equipment').show();
                        hasAnyReportLi = true;
                    }
                    if (data['equipment-billing']) {
                        $('#li-equipment-billing').show();
                        $('#sidebar-li-equipment-billing').show();
                        hasAnyReportLi = true;
                    }
                    // if (data['absentee']) {
                    //     $('#li-absentee-report').show();
                    //     $('#sidebar-li-absentee-report').show();
                    //     hasAnyReportLi = true;
                    // }
                    // if (data['whoisin']) {
                    //     $('#li-whoisin-report').show();
                    //     $('#sidebar-li-whoisin-report').show();
                    //     hasAnyReportLi = true;
                    // }
                    if (data['ot-report']) {
                        $('#li-ot-report').show();
                        $('#sidebar-li-ot-report').show();
                        hasAnyReportLi = true;
                    }
                    // TM-??? RPC profit detail
                    if (data['third-rpc-profit-detail-report']) {
                        $('#li-rpc-profit-detail-report').show();
                        $('#sidebar-li-rpc-profit-detail-report').show();
                        hasAnyReportLi = true;
                    }
                    if (data['labor-time-summary-report']) {
                        $('#li-labor-time-summary').show();
                        $('#sidebar-li-labor-time-summary').show();
                    }
                    if (hasAnyReportLi) {
                        $('#li-reports').show();
                    }
                },
            });
        }
    </script>
</div>
<div class="container-fluid">
    <div class="row h-100 d-flex justify-content-start">
        <div th:fragment="sidebar-labor-time">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <a class="nav-link" th:href="@{/employees}" href="../employees.html">
                                <i class="fas fa-users-cog"></i>
                                Employees
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <a class="nav-link" href="#div-corporate-weekly-process" data-bs-toggle="modal">
                                <i class="fas fa-tasks"></i>
                                Weekly timesheet process
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                            <a class="nav-link" href="#div-payroll-report" data-bs-toggle="modal">
                                <i class="fas fa-file-alt"></i>
                                Process Payroll
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                            <a class="nav-link" href="#div-reconcile" data-bs-toggle="modal">
                                <i class="fas fa-clipboard-list"></i>
                                OT Reconciliation
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-purchasing">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="../purchase-vendor-roster.html"
                               th:href="@{/purchase-vendor-roster}">
                                <i class="fas fa-receipt"></i>
                                Vendor Roster
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../purchase-requisitions.html"
                               th:href="@{/purchase-requisitions}">
                                <i class="fas fa-receipt"></i>
                                Purchase Requisitions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../purchase-orders.html" th:href="@{/purchase-orders}">
                                <i class="fas fa-shopping-cart"></i>
                                Purchase Orders
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-reports">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li id="sidebar-li-data-export">
                            <a class="nav-link" href="../report-data-export.html" th:href="@{/report-data-export}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Data Export
                            </a>
                        </li>
                        <li id="sidebar-li-labor-time" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-labor-time.html" th:href="@{/report-labor-time}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Labor Time
                            </a>
                        </li>
                        <li id="sidebar-li-labor-time-summary" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-labor-time-summary.html" th:href="@{/report-labor-time-summary}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Labor Time Summary
                            </a>
                        </li>
                        <li id="sidebar-li-totals" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-totals.html" th:href="@{/report-totals}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Cost Reports by totals
                            </a>
                        </li>
                        <li id="sidebar-li-classification-codes" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-classification-codes.html"
                               th:href="@{/report-classification-codes}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Classification codes
                            </a>
                        </li>
                        <li id="sidebar-li-employees" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-employees.html" th:href="@{/report-employees}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Summary of Employee Hours and Billing
                            </a>
                        </li>
                        <li id="sidebar-li-employee-hours" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-employee-hours.html" th:href="@{/report-employee-hours}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Weekly Employee Hours Summary
                            </a>
                        </li>
                        <li id="sidebar-li-per-diem-expense" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-per-diem-expense.html"
                               th:href="@{/report-per-diem-expense}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Weekly Per Diem Expense Summary
                            </a>
                        </li>
                        <!-- TM-367 a new report for Weekly Travel Pay Summary -->
                        <li id="sidebar-li-travel-pay-summary" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-travel-pay-summary.html"
                               th:href="@{/report-travel-pay-summary}">
                                Weekly Travel Pay Summary
                            </a>
                        </li>
                        <li id="sidebar-li-owned-equipment" style="display: none">
                            <a class="nav-link" href="../report-owned-equipment.html"
                               th:href="@{/report-owned-equipment}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Co. Owned Equipment Report
                            </a>
                        </li>
                        <li id="sidebar-li-third-equipment" style="display: none">
                            <a class="nav-link" href="../report-third-equipment.html"
                               th:href="@{/report-third-equipment}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                3rd Equipment Report
                            </a>
                        </li>
                        <li id="sidebar-li-equipment-billing" style="display: none">
                            <a class="nav-link" href="../report-equipment-billing.html"
                               th:href="@{/report-equipment-billing}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                Equipment Billing
                            </a>
                        </li>
<!--                        <li id="sidebar-li-absentee-report" style="display: none">-->
<!--                            <a class="nav-link" href="../report-absentee.html" th:href="@{/report-absentee}"-->
<!--                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">-->
<!--                                Absentee report-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li id="sidebar-li-whoisin-report" style="display: none">-->
<!--                            <a class="nav-link" href="../report-whoisin.html" th:href="@{/report-whoisin}"-->
<!--                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">-->
<!--                                Who is in report-->
<!--                            </a>-->
<!--                        </li>-->
                        <li id="sidebar-li-ot-report" style="display: none">
                            <a class="nav-link" href="../report-ot.html"
                               th:href="@{/report-ot}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                OT report
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                        <li id="sidebar-li-rpc-profit-detail-report" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-rpc-profit-detail.html"
                               th:href="@{/report-rpc-profit-detail}"
                               sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                                RPC profit detail
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-corporate-setup">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/crafts}" href="../craft-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Labor Rates
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
