<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>TiMaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<!--suppress CheckTagEmptyBody -->
<th:block layout:fragment="default_style"></th:block>
<body>
<div layout:fragment="default_div">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 me-0" href="../index.html" th:href="@{/index}">
            <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                 alt="TiMaven" width="128" height="36">
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                <a class="nav-link" href="#" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#"
                   onclick="logout()">
                    Log out
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row h-100">
            <main role="main" class="col-md-9 col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div layout:fragment="content">
                    Content
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<script type="text/javascript">
    function logout() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'logout',
            success: function () {
                // The response is actually the login html
                // The redirect page will not be refresh
                console.log('Logged out');
                location.reload();
            },
        });
    }
</script>
<th:block layout:fragment="default_script"></th:block>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
