<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Weekly Timesheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet" th:remove="tag">
    <!-- TM-373 add select2 css js  -->
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <!--suppress CssUnusedSymbol -->
    <style>
        .table-responsive {
            height: 700px;
            overflow: scroll;
            margin-top: 25px;
        }

        .table-bordered > :not(caption) > * > * {
            border-width: 1px 1px;
        }

        thead tr:nth-child(1) th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 11;
        }

        table {
            border-collapse: separate; /* Don't collapse */
            border-spacing: 0;
        }

        input.form-control {
            min-width: 85px;
        }

        select.form-select {
            min-width: 85px;
        }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        /* Set Select2-conrainer width 100%  */
        /* Because this is a pop-up window option */
        .select2-container {
            width: 100% !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header"></div>
    <main role="main">
        <div class="d-flex justify-content-between my-4 mx-4">
            <div>
                <h4 class="fw-bold" style="display: inline-block">End Of Week: </h4>
                <h4 class="ms-2" style="display: inline-block" th:text="${dto.weekEndDate}">01/17//2021</h4>
                <!-- TM-373 add activity code  -->
                <div>
                    <button data-bs-target="#div-add-activity-code" data-bs-toggle="modal"
                            type="button"  class="btn btn-success me-md-2">
                        Add Activity Code
                    </button>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end py-3 me-4">
                <!-- TM-373 report corporate weekly process -->
                <button type="button" class="btn btn-primary me-md-2" onclick="pintTable()">
                    Print
                </button>
                <!-- TM-306 -->
                <button id="btn-copy-previous" type="button" class="btn btn-primary me-md-2"
                        onclick="copyPreviousTimeSheet()">
                    Copy previous timesheet
                </button>
                <button type="button" class="btn btn-warning me-md-2"
                        onclick="window.history.go(-1); return false;">
                    Cancel
                </button>
                <button type="button" class="btn btn-success me-md-2"
                        onclick="saveProcess('')">
                    Save
                </button>
                <button type="button" class="btn btn-success me-md-2"
                        onclick="saveProcess('review')">
                    Review
                </button>
                <button type="button" class="btn btn-success me-md-2"
                        onclick="saveProcess('approve')">
                    Approve
                </button>
            </div>
        </div>
        <div th:fragment="div-table"  id="div-table">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end me-4 row">
                <div class="col-auto">
                    <label for="input-straight-time" class="col-form-label">Total Straight Time:</label>
                </div>
                <div class="col-auto">
                    <input id="input-straight-time" class="form-control" type="number" step="any" value=""
                           data-type="total-straight"
                           th:value="${dto.totalStraightTime}" readonly>
                </div>
                <div class="col-auto">
                    <label for="input-total-overtime" class="col-form-label">Total Overtime:</label>
                </div>
                <div class="col-auto">
                    <input id="input-total-overtime" class="form-control" type="number" step="any" value=""
                           data-type="total-over"
                           th:value="${dto.totalOvertime}" readonly>
                </div>
                <div class="col-auto">
                    <label for="input-total-non-overtime" class="col-form-label">Total Non-Overtime:</label>
                </div>
                <div class="col-auto">
                    <input id="input-total-non-overtime" class="form-control" type="number" step="any" value=""
                           data-type="total-non-over"
                           th:value="${dto.totalNonOvertime}" readonly>
                </div>
                <div class="col-auto">
                    <label for="input-total-time" class="col-form-label">Total Time:</label>
                </div>
                <div class="col-auto">
                    <input id="input-total-time" class="form-control" type="number" step="any" value=""
                           data-type="total-time"
                           th:value="${dto.totalTime}" readonly>
                </div>
            </div>
            <div class="table-responsive px-4">
                <form id="form-corporate-weekly-process" action="/form-weekly-process"
                      th:action="@{/form-weekly-process}" method="post"
                      style="padding: 0" th:object="${dto}">
                    <input th:field="*{id}" type="hidden">
                    <input th:field="*{weekEndDate}" type="hidden">
                    <input th:field="*{teamName}" type="hidden">
                    <label>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    </label>
                    <table class="table table-bordered caption-top" id="weekly-table">
                        <caption>
                            <!-- TM-307 Start -->
                            <div class="form-check form-switch form-check-inline">
                                <input type="checkbox" class="form-check-input" id="show-offsite">
                                <label class="form-check-label me-md-2" for="show-offsite">Show Offsite</label>
                            </div>
                        </caption>
                        <thead>
                        <tr class="text-center">
                            <th scope="col">
                                <div>
                                    Name
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    EE No.
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    Dept. Code (Job #)
                                </div>
                            </th>
                            <th scope="col">
                                <div>
                                    Activity Code
                                </div>
                            </th>
                            <th scope="col"
                                colspan="2"
                                th:each="day : ${days}"
                                th:text="${#temporals.format(day, 'MM/dd/yyyy')}">
                                11/14/2020
                            </th>
                            <th scope="col">ST.</th>
                            <th scope="col">OT.</th>
                            <th scope="col">Hol.</th>
                            <th scope="col">Vac.</th>
                            <th scope="col">Sick</th>
                            <th scope="col">Other</th>
                        </tr>
                        <tr class="my-4">
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="empDateDto, stat: *{empDateDtos}">
                            <!-- does it exist activateCodeIds No default column -->
                            <th:block th:if="${#lists.isEmpty(empDateDto.activityCodeIds)}">
                                <!-- TM-307 Add Attribute 'data-is-offsite' and conditional inline style -->
                                <tr th:attr="data-emp-id=${empDateDto.empId}, data-is-offsite=${empDateDto.offsite}"
                                    th:style="${empDateDto.offsite ? 'display: none' : ''}">
                                    <td>
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.teamName}">
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.jobNumber}">
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.empId}">
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.lastName}">
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.firstName}">
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.hasPerDiem}">
                                        <input type="hidden"
                                               th:field="*{empDateDtos[__${stat.index}__]?.offsite}">
                                        <span th:text="|${empDateDto.lastName}, ${empDateDto.firstName}|"
                                              data-type="content">
                                            ADAMS, JOSHUA
                                        </span>
                                    </td>
                                    <td>
                                        <span data-type="content" th:text="${empDateDto.empId}">20810</span>
                                    </td>
                                    <td rowspan="2">
                                        <span data-type="content"  th:text="${empDateDto.jobNumber}">99201-910</span>
                                    </td>
                                    <td rowspan="2">
                                        <span data-type="content" ></span>
                                    </td>
                                    <th:block th:each="day : ${days}">
                                        <td colspan="2"></td>
                                    </th:block>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="st-total"
                                               th:value="${empDateDto.stTotal == null }  ? 0 : ${empDateDto.stTotal}" readonly>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="ot-total"
                                               th:value="${empDateDto.otTotal == null}  ? 0 : ${empDateDto.otTotal}" readonly>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="holiday-hour"
                                               th:field="*{empDateDtos[__${stat.index}__].holidayHour}" readonly>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="vacation-hour"
                                               th:field="*{empDateDtos[__${stat.index}__].vacationHour}" readonly>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="sick-hour"
                                               th:field="*{empDateDtos[__${stat.index}__].sickHour}" readonly>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="other-hour"
                                               th:field="*{empDateDtos[__${stat.index}__].other}" readonly>
                                    </td>
                                </tr>
                                <!-- TM-307 Add Attribute 'data-is-offsite' and conditional inline style -->
                                <tr th:attr="data-emp-id=${empDateDto.empId}, data-is-offsite=${empDateDto.isOffsite}"
                                    th:style="${empDateDto.isOffsite ? 'display: none' : ''}">
                                    <td colspan="2"></td>
                                    <th:block th:each="day : ${days}">
                                        <td colspan="2"></td>
                                    </th:block>
                                    <td colspan="2"><span>Non Over-Time:</span></td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="emp-non-over"
                                               th:value="${empDateDto.nonOt}" readonly>
                                    </td>
                                    <td colspan="2"><span>Total Time:</span></td>
                                    <td>
                                        <input class="form-control" type="number" step="any" value=""
                                               data-type="emp-total-time"
                                               th:value="${empDateDto.totalTime}" readonly>
                                    </td>
                                </tr>
                            </th:block>
                            <!-- does it exist activateCodeIds Yes Rendering data -->
                            <th:block th:unless="${#lists.isEmpty(empDateDto.activityCodeIds)}">
                                <th:block th:each="activityCodeId, acstat : ${empDateDto.activityCodeIds}">
                                    <!-- TM-307 Add Attribute 'data-is-offsite' and conditional inline style -->
                                    <tr th:attr="data-emp-id=${empDateDto.empId}, data-is-offsite=${empDateDto.offsite}"
                                        th:style="${empDateDto.offsite ? 'display: none' : ''}">
                                        <td th:if="${acstat.index} == 0">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.teamName}">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.jobNumber}">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.empId}">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.lastName}">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.firstName}">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.hasPerDiem}">
                                            <input type="hidden"
                                                   th:field="*{empDateDtos[__${stat.index}__]?.offsite}">
                                            <span th:text="|${empDateDto.lastName}, ${empDateDto.firstName}|"
                                                  data-type="content">
                                                ADAMS, JOSHUA
                                            </span>
                                        </td>
                                        <td th:if="${acstat.index} == 0">
                                            <span data-type="content" th:text="${empDateDto.empId}">20810</span>
                                        </td>
                                        <td th:unless="${acstat.index} == 0" colspan="2"></td>
                                        <td th:if="${acstat.index} == 0" th:rowspan="${#lists.size(empDateDto.activityCodeIds)} * 2 ">
                                            <span data-type="content"  th:text="${empDateDto.jobNumber}">99201</span>
                                        </td>
                                        <td rowspan="2">
                                            <span data-type="content" th:text="${dto.activityCodeMap[__${activityCodeId}__]}">99201-910</span>
                                        </td>
                                        <th:block th:each="day : ${days}" >
                                            <th:block th:unless="*{#maps.containsKey(empDateDtos[__${stat.index}__].stMap[__${activityCodeId}__],'__${day}__')}">
                                                <td colspan="2"></td>
                                            </th:block>
                                            <th:block th:if="*{#maps.containsKey(empDateDtos[__${stat.index}__].stMap[__${activityCodeId}__],'__${day}__')}">
                                                <td>
                                                    <span>ST:</span>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" step="any" value=""
                                                           data-type="st"
                                                           th:field="*{empDateDtos[__${stat.index}__].stMap[__${activityCodeId}__]['__${day}__']}">
                                                </td>
                                            </th:block>
                                        </th:block>
                                        <td th:if="${acstat.index} == 0">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="st-total"
                                                   th:value="${empDateDto.stTotal == null }  ? 0 : ${empDateDto.stTotal}" readonly>
                                        </td>
                                        <td th:if="${acstat.index} == 0">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="ot-total"
                                                   th:value="${empDateDto.otTotal == null}  ? 0 : ${empDateDto.otTotal}" readonly>
                                        </td>
                                        <td th:if="${acstat.index} == 0">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="holiday-hour"
                                                   th:field="*{empDateDtos[__${stat.index}__].holidayHour}" readonly>
                                        </td>
                                        <td th:if="${acstat.index} == 0">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="vacation-hour"
                                                   th:field="*{empDateDtos[__${stat.index}__].vacationHour}" readonly>
                                        </td>
                                        <td th:if="${acstat.index} == 0">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="sick-hour"
                                                   th:field="*{empDateDtos[__${stat.index}__].sickHour}" readonly>
                                        </td>
                                        <td th:if="${acstat.index} == 0">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="other-hour"
                                                   th:field="*{empDateDtos[__${stat.index}__].other}" readonly>
                                        </td>
                                    </tr>
                                    <!-- TM-307 Add Attribute 'data-is-offsite' and conditional inline style -->
                                    <tr th:attr="data-emp-id=${empDateDto.empId}, data-is-offsite=${empDateDto.isOffsite}"
                                        th:style="${empDateDto.isOffsite ? 'display: none' : ''}">
                                        <td colspan="2"></td>
                                        <th:block th:each="day : ${days}">
                                            <th:block th:unless="*{#maps.containsKey(empDateDtos[__${stat.index}__].stMap[__${activityCodeId}__],'__${day}__')}">
                                                <td colspan="2"></td>
                                            </th:block>
                                            <th:block th:if="*{#maps.containsKey(empDateDtos[__${stat.index}__].stMap[__${activityCodeId}__],'__${day}__')}">
                                                <td>
                                                    <select class="form-select"
                                                            data-type="hour-type"
                                                            th:attr="data-value=${empDateDto.extraTimeMap[__${activityCodeId}__]['__${day}__'].type}"
                                                            th:field="*{empDateDtos[__${stat.index}__].extraTimeMap[__${activityCodeId}__]['__${day}__'].type}">
                                                        <option value="0">OT:</option>
                                                        <option value="1">SICK:</option>
                                                        <option value="2">HOLIDAY:</option>
                                                        <option value="3">VACATION:</option>
                                                        <option value="4">OTHER:</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" step="any" value=""
                                                           data-type="extra"
                                                           th:field="*{empDateDtos[__${stat.index}__].extraTimeMap[__${activityCodeId}__]['__${day}__'].hour}">
                                                </td>
                                            </th:block>
                                        </th:block>
                                        <td colspan="2" th:if="${acstat.index} == 0" th:rowspan="${#lists.size(empDateDto.activityCodeIds)} * 2 - 1"><span>Non Over-Time:</span></td>
                                        <td th:if="${acstat.index} == 0" th:rowspan="${#lists.size(empDateDto.activityCodeIds)} * 2 - 1">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="emp-non-over"
                                                   th:value="${empDateDto.nonOt}" readonly>
                                        </td>
                                        <td colspan="2" th:if="${acstat.index} == 0" th:rowspan="${#lists.size(empDateDto.activityCodeIds)} * 2 - 1"><span>Total Time:</span></td>
                                        <td th:if="${acstat.index} == 0" th:rowspan="${#lists.size(empDateDto.activityCodeIds)} * 2 - 1">
                                            <input class="form-control" type="number" step="any" value=""
                                                   data-type="emp-total-time"
                                                   th:value="${empDateDto.totalTime}" readonly>
                                        </td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </form>
                <div class="d-flex justify-content-start my-4 mx-4 row">
                    <div class="col-auto">
                        <label for="id-reviewed-by" class="fw-bold col-form-label">Reviewed:</label>
                    </div>
                    <div class="col-auto">
                        <input id="id-reviewed-by" class="form-control" type="text" value=""
                               th:value="${dto.reviewedBy}" readonly>
                    </div>
                    <div class="col-auto">
                        <label for="id-approved-by" class="fw-bold col-form-label">Approved:</label>
                    </div>
                    <div class="col-auto">
                        <input id="id-approved-by" class="form-control" type="text" value=""
                               th:value="${dto.approvedBy}" readonly>
                    </div>
                </div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                dto = [[${dto}]];
                /*]]>*/
            </script>
        </div>
    </main>
    <div id="div-add-activity-code" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a new activate code</h4>
                </div>
                <div class="modal-body">
                    <div id="div-date-of-service" class="my-3">
                        <label for="datepicker-dos">Date Of Service: (Must be existed already)</label>
                        <input id="datepicker-dos" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <div id="div-employee" class="mr-3">
                        <label>Please select a employee</label>
                        <select id="select-employee-id" class="form-select" title="Select a team">
                            <option selected disabled hidden>Select</option>
                            <option th:each="empDateDto : ${dto.empDateDtos}"
                                    th:value="${empDateDto.empId}"
                                    th:text="|${empDateDto.empId} ${empDateDto.lastName}-${empDateDto.firstName}|">
                                Team A
                            </option>
                        </select>
                    </div>
                    <div id="div-activate-code" class="mt-2">
                        <label>Please select a activity code</label>
                        <select id="select-activity-code" name="select-activity-code" class="form-select w-100" title="Select a activity code" onchange="clickActivityCode()">
                            <option value="" selected disabled hidden>Select</option>
                            <option data-type="other" class="custom-text-danger"
                                    th:each="activateId: ${dto.activityCodeMap.keySet()}"
                                    th:value="${activateId}"
                                    th:text="${dto.activityCodeMap.get(activateId)}">
                                1234567892 (Description)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        $(function () {

            initCorporateWeeklyProcessStatistical();

            // TM-373 init date
            $('#datepicker-dos').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome'
            });

            // TM-373 add select2 seach activate code
            $('select[name="select-activity-code"]').select2({
                tags: true,
                createTag: function (params) {
                    return {
                        id: "new",
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data, container) {
                    let $result = $("<span id='span'></span>");
                    $result.text(data.text);
                    if (data.newOption) {
                        $result.append("(new)");
                    }
                    return $result;
                }
            })

            $('#btn-ok').on("click",function(){
                let dateOfService = $("#datepicker-dos").val();
                let employeeId = $('#select-employee-id').val();
                let activityCodeId = $('#select-activity-code').val();

                // TM-307
                let checked = $('input#show-offsite').prop('checked');

                if(dateOfService && employeeId && activityCodeId){
                    let splitDate = dateOfService.split(/\//);
                    let isoDate = [splitDate[2],splitDate[0],splitDate[1]].join('-');
                    $.ajax({
                        type: "POST",
                        url: `corporate-weekly-process-reload-table?dateOfService=${isoDate}&employeeId=${employeeId}&activityCodeId=${activityCodeId}`,
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(dto),
                        traditional: true,
                        success: function (data) {
                            /*<![CDATA[*/
                            $('#div-table').html(data);
                            initCorporateWeeklyProcessStatistical();
                            // TM-307 after add activity code, the status of show offsite should be recovered.
                            $('input#show-offsite').trigger('change', [checked]);
                            /*]]>*/
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (401 === xhr.status || 403 === xhr.status) {
                                $("html").html(xhr.responseText);
                            }
                        }
                    });
                }else {
                    alert("All fields are required");
                }
            });

        });

        function pintTable(){
            let weeklyEndDate = dto.weekEndDate;
            let teamName = dto.teamName;
            timavenDocument('GET', 'v1', 'report-corporate-weekly-process', true,
                'No hours on selected criteria',
                `weeklyEndDate=${weeklyEndDate}&teamName=${teamName}`)
        }

        function saveProcess(status) {
            let url = /*[[@{/corporate-weekly-process}]]*/ '';
            if (status) {
                $('#form-corporate-weekly-process').attr('action', `${url}?status=${status}`).submit();
            } else {
                $('#form-corporate-weekly-process').attr('action', `${url}`).submit();
            }
        }

        <!-- TM-307 -->
        function toggleOffsite(event, checked){
            let _this = $(event.target);
            if (checked === undefined) {
                checked = _this.prop('checked');
            } else {
                _this.prop('checked', checked);
            }

            const offsiteTrs = $('#weekly-table tbody tr[data-is-offsite=true]');
            if (checked) {
                offsiteTrs.show();
            } else {
                offsiteTrs.hide();
            }
        }

        <!-- TM-306 -->
        function copyPreviousTimeSheet() {
            const curUrl = new URL(window.location.href)
            const date = curUrl.searchParams.get('weekEndDate');
            $.ajax({
                type: "POST",
                url: `copy-previous-timesheet?date=${date}`,
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(dto),
                success: function (data) {
                    /*<![CDATA[*/
                    $('#div-table').html(data);
                    initCorporateWeeklyProcessStatistical();
                    /*]]>*/
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (401 === xhr.status || 403 === xhr.status) {
                        $("html").html(xhr.responseText);
                    }
                }
            });
        }

        // TM-373 add new activate code
        function clickActivityCode(data){
            let option = $('#select-activity-code :selected')[0];
            if(option && option.value == "new"){
                let reqData = {
                    activityCode: option.text
                }
                $.ajax({
                    type: "PUT",
                    url: `activity-codes`,
                    data: JSON.stringify(reqData),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        let activate_id = data.id;
                        let activate_code = data.activityCode;
                        // checked option add activateCodeMap
                        $("#select-activity-code").append(new Option(activate_code,activate_id));
                        $("#select-activity-code").val(activate_id);
                        Object.assign(dto.activityCodeMap, { [activate_id] : activate_code});
                    }
                });
            }
        }

        // TM-373 init statistical function
        function initCorporateWeeklyProcessStatistical(){
            $('input[data-type="extra"]').on("change", function() {
                let empId = $(this).closest('tr').data('emp-id');
                let tr = $('tr[data-emp-id="' + empId + '"]');
                let hourType = $(this).closest('td').prev().find('select').first().val();
                let sameTypeSelects = tr.find('select option[value="'+ hourType + '"]:selected');
                let sum = 0;
                sameTypeSelects.each(function () {
                    let typeInput = $(this).closest('td').next().find('input[data-type="extra"]').first();
                    if (typeInput.val()) {
                        sum += Number(typeInput.val());
                        sum = parseFloat(sum.toFixed(2));
                    }
                })
                switch (hourType) {
                    case "0":
                        tr.find('input[data-type="ot-total"]').val(sum).trigger('change');
                        break;
                    case "1":
                        tr.find('input[data-type="sick-hour"]').val(sum).trigger('change');
                        break;
                    case "2":
                        tr.find('input[data-type="holiday-hour"]').val(sum).trigger('change');
                        break;
                    case "3":
                        tr.find('input[data-type="vacation-hour"]').val(sum).trigger('change');
                        break;
                    case "4":
                        tr.find('input[data-type="other-hour"]').val(sum).trigger('change');
                        break;
                }
            });
            $('select[data-type="hour-type"]').on('change', function() {
                let tr = $(this).closest('tr');
                let prevType = '' + $(this).data('value');
                if (prevType !== this.value) {
                    let sameTypeSelects = tr.find('select option[value="'+ prevType + '"]:selected');
                    let sum = 0;
                    sameTypeSelects.each(function () {
                        let typeInput = $(this).closest('td').next().find('input[data-type="extra"]').first();
                        if (typeInput.val()) {
                            sum += Number(typeInput.val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    })
                    switch (prevType) {
                        case "0":
                            tr.find('input[data-type="ot-total"]').val(sum).trigger('change');
                            break;
                        case "1":
                            tr.find('input[data-type="sick-hour"]').val(sum).trigger('change');
                            break;
                        case "2":
                            tr.find('input[data-type="holiday-hour"]').val(sum).trigger('change');
                            break;
                        case "3":
                            tr.find('input[data-type="vacation-hour"]').val(sum).trigger('change');
                            break;
                        case "4":
                            tr.find('input[data-type="other-hour"]').val(sum).trigger('change');
                            break;
                    }
                    sameTypeSelects = tr.find('select option[value="'+ this.value + '"]:selected');
                    sum = 0;
                    sameTypeSelects.each(function () {
                        let typeInput = $(this).closest('td').next().find('input[data-type="extra"]').first();
                        if (typeInput.val()) {
                            sum += Number(typeInput.val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    })
                    switch (this.value) {
                        case "0":
                            tr.find('input[data-type="ot-total"]').val(sum).trigger('change');
                            break;
                        case "1":
                            tr.find('input[data-type="sick-hour"]').val(sum).trigger('change');
                            break;
                        case "2":
                            tr.find('input[data-type="holiday-hour"]').val(sum).trigger('change');
                            break;
                        case "3":
                            tr.find('input[data-type="vacation-hour"]').val(sum).trigger('change');
                            break;
                        case "4":
                            tr.find('input[data-type="other-hour"]').val(sum).trigger('change');
                            break;
                    }
                    $(this).data('value', this.value);
                }
            });
            $('input[data-type="st"]').on("change", function() {
                let empId = $(this).closest('tr').data('emp-id');
                let sum = 0;
                let tr = $('tr[data-emp-id="' + empId + '"]');
                tr.find('input[data-type="st"]').each(function (){
                    if ($(this).val()) {
                        sum += Number($(this).val());
                        sum = parseFloat(sum.toFixed(2));
                    }
                });
                tr.find('input[data-type="st-total"]').val(sum).trigger('change');
            });
            $('input[data-type="st-total"],input[data-type="holiday-hour"],input[data-type="vacation-hour"],input[data-type="sick-hour"],input[data-type="other-hour"]')
                .on("change", function() {
                    let empId = $(this).closest('tr').data('emp-id');
                    let sum = 0;
                    let tr = $('tr[data-emp-id="' + empId + '"]');
                    tr.find('input[data-type="st-total"],input[data-type="holiday-hour"],input[data-type="vacation-hour"],input[data-type="sick-hour"],input[data-type="other-hour"]')
                        .each(function (){
                            if ($(this).val()) {
                                sum += Number($(this).val());
                                sum = parseFloat(sum.toFixed(2));
                            }
                        });
                    tr.find('input[data-type="emp-non-over"]').val(sum).trigger('change');
                });
            $('input[data-type="ot-total"],input[data-type="emp-non-over"]').on("change", function (){
                let empId = $(this).closest('tr').data('emp-id');
                let sum = 0;
                let tr = $('tr[data-emp-id="' + empId + '"]');
                tr.find('input[data-type="ot-total"],input[data-type="emp-non-over"]')
                    .each(function (){
                        if ($(this).val()) {
                            sum += Number($(this).val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    });
                tr.find('input[data-type="emp-total-time"]').val(sum).trigger('change');
            });

            $('input[data-type="st-total"]').on("change", function (){
                let sum = 0;
                $('input[data-type="st-total"]')
                    .each(function (){
                        if ($(this).val()) {
                            sum += Number($(this).val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    });
                $('input[data-type="total-straight"]').val(sum);
            });

            $('input[data-type="ot-total"]').on("change", function (){
                let sum = 0;
                $('input[data-type="ot-total"]')
                    .each(function (){
                        if ($(this).val()) {
                            sum += Number($(this).val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    });
                $('input[data-type="total-over"]').val(sum);
            });

            $('input[data-type="emp-non-over"]').on("change", function (){
                let sum = 0;
                $('input[data-type="emp-non-over"]')
                    .each(function (){
                        if ($(this).val()) {
                            sum += Number($(this).val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    });
                $('input[data-type="total-non-over"]').val(sum);
            });

            $('input[data-type="emp-total-time"]').on("change", function (){
                let sum = 0;
                $('input[data-type="emp-total-time"]')
                    .each(function (){
                        if ($(this).val()) {
                            sum += Number($(this).val());
                            sum = parseFloat(sum.toFixed(2));
                        }
                    });
                $('input[data-type="total-time"]').val(sum);
            });

            $('input#show-offsite').on('change', toggleOffsite); // TM-307
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
