<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Cost Code Association</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-cost-code" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3 ms-md-4">
                    <div class="row">
                        <div class="col-4">
                            <input id="input-id" hidden th:value="${costCodeLog.id}">
                            <label for="input-cost-code">Cost Code:
                                <a tabindex="0" href="" title="cost code" class="info-circle"
                                   data-bs-toggle="popover" data-bs-trigger="focus" style="margin-left: 5px;"
                                   onclick="return false;" th:if="${costCodeLog.locked}"
                                   data-bs-content="For audit purpose, this code is locked as it's already used.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </label>
                            <input id="input-cost-code" class="form-control" th:value="${costCodeLog.costCodeFull}"
                                   th:disabled="${costCodeLog.locked}" value="00.93.0001">
                        </div>
                        <div class="col-8">
                            <label for="input-description">Description:</label>
                            <input id="input-description" class="form-control" th:value="${costCodeLog.description}"
                                   th:disabled="${costCodeLog.locked}" value="Pipe Labor">
                        </div>
                        <div class="col-4 mt-2">
                            <label for="input-start-date">Start Date:</label>
                            <input id="input-start-date" class="form-control"
                                   th:value="${#temporals.format(costCodeLog.startDate, 'MM/dd/yyyy')}"
                                   th:disabled="${costCodeLog.locked}" value="2021-01-01">
                        </div>
                        <div class="col-4 mt-2">
                            <label for="input-end-date">End Date: (Optional)</label>
                            <input id="input-end-date" class="form-control"
                                   th:value="${#temporals.format(costCodeLog.endDate, 'MM/dd/yyyy')}"
                                   th:disabled="${costCodeLog.locked}" value="2021-01-01">
                        </div>
                    </div>
                    <div class="py-3">
                        <button id="add-association" type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#addAssociationModal" th:unless="${costCodeLog.locked}">
                            Add an association
                        </button>
                    </div>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table id="table-type-code" class="table">
                        <thead>
                        <tr>
                            <th th:unless="${costCodeLog.locked}"></th>
                            <th scope="col">Type</th>
                            <th scope="col">Code Name</th>
                            <th scope="col">Client Alias</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:attr="data-id=${billingCode.id}" th:each="billingCode : ${billingCodes}">
                            <td th:unless="${costCodeLog.locked}">
                                <span style="color: red"
                                      th:data1="${billingCode.id}"
                                      onclick="deleteRow(this.getAttribute('data1'))">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                            </td>
                            <td><span th:text="${billingCode.codeType}">W0-001</span></td>
                            <td><span th:text="${billingCode.codeName}">Invoice</span></td>
                            <td><span th:text="${billingCode.clientAlias}">001</span></td>
                            <td><span th:text="${billingCode.description}">Work Order1</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="mt-3, me-3" style="float: right">
                        <button type="button" class="btn btn-warning" style="margin-right: 25px;"
                                onclick="window.history.go(-1); return false;">
                            Cancel
                        </button>
                        <button id="btn-save" type="button" class="btn btn-success" th:unless="${costCodeLog.locked}">Save
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="addAssociationModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Association</h4>
                </div>
                <div class="modal-body">
                    <label>Please select a type</label>
                    <select name="select-type" class="form-select" title="Select a type">
                        <option selected disabled hidden>Select</option>
                        <option th:each="billingCodeType : ${billingCodeTypes}" th:value="${billingCodeType.id}" value="1"
                                th:text="${billingCodeType.codeType}">Invoice</option>
                    </select>
                    <label>Please select a code: (must select the type first)</label>
                    <select name="select-code" class="form-select" title="Select a code">
                        <option selected disabled hidden>Select</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-add-type-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        let costCodeLog = [[${costCodeLog}]];

        /*]]>*/
    </script>
    <script th:inline="javascript">
        $(function () {
            $('.info-circle').popover({
                trigger: 'focus'
            });
            $('select[name="select-type"]').change(function () {
                let id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: `billing-codes?id=${id}`,
                    success: function (data) {
                        let select = $("select[name='select-code']");
                        let selectOptionsStr = '';
                        if (data.length !== 0) {
                            select.find("option").remove();
                            $.each(data, function (index, value) {
                                selectOptionsStr += `<option data-id="${value['id']}" data-code="${value['codeName']}" data-alias="${value['clientAlias']}" data-desc="${value['description']}" value="${value['id']}">${value['codeName']} | ${value['clientAlias']} | ${value['description']}</option>`;
                            });
                            select.append(selectOptionsStr);
                        } else {
                            select.find('option').remove();
                            select.append('<option selected disabled hidden>Select</option>');
                        }
                    },
                });
            });

            let modal = $("#addAssociationModal");
            if (modal.length > 0) {
                $("#btn-add-type-ok").on("click", function () {
                    let modal = $("#addAssociationModal");
                    let typeOption = modal.find("select[name='select-type']").find(":selected");
                    let typeText = typeOption.text();
                    let codeOption = modal.find("select[name='select-code']").find(":selected");
                    let code = codeOption.data('code');
                    if (code) {
                        let alias = codeOption.data('alias');
                        let desc = codeOption.data('desc');
                        let id = codeOption.data('id');
                        let deleteTd = `<td><span style="color: red" onClick="deleteRow(${id})"><i class="fas fa-minus-circle"></i></span></td>`;
                        $('table#table-type-code tbody')
                            .append(`<tr data-id="${id}">` +
                                deleteTd +
                                `<td><span>${typeText}</span></td>` +
                                `<td><span>${code}</span></td>` +
                                `<td><span>${alias}</span></td>` +
                                `<td><span>${desc}</span></td>` +
                                '</tr>');
                    }
                });
            }

            $("#btn-save").on('click', function() {
                let id = $("#input-id").val();
                let costCode = $("#input-cost-code").val();
                let description = $("#input-description").val();
                let startDate = $('#input-start-date').val();
                let endDate = $('#input-end-date').val();
                if (!costCode) {
                    alert("Cost Code field is required");
                    return;
                }
                if (!startDate) {
                    alert("Start Date field is required");
                    return;
                }
                let table = $("table#table-type-code").first();
                let ids = [];
                table.find('tbody tr').each(function() {
                    let id = $(this).data('id');
                    ids.push(id);
                });
                let dto = {
                    id: id === null ? null : parseInt(id),
                    costCode: costCode,
                    description: description,
                    startDate: startDate,
                    endDate: endDate,
                    billingCodeIds: ids,
                };
                submitModule.saveCodeAssociation(dto);
            });
            $('#input-start-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#input-end-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
        });

        function deleteRow(id) {
            $('table#table-type-code tbody tr[data-id="' + id + '"]').remove();
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
