<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Cost Code Import</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        div.sortable {
            cursor: pointer;
        }

        ul.sortable li.placeholder {
            position: relative;
            /** More li styles **/
        }
        ul.sortable li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <main role="main" class="w-100 ms-sm-auto px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3 me-md-4">
                    <h3>Edit cost code structure by dragging and dropping the segments</h3>
                    <div>
                        <a class="btn btn-warning me-md-2" href="project.html" th:href="@{/cost-codes}">Cancel</a>
                        <button type="button" class="btn btn-success me-md-2" onclick="saveStructure()">
                            Save
                        </button>
                    </div>
                </div>
                <div class="card text-dark bg-light">
                    <div id="div-structure" class="card-body">
                        <ul class='sortable list-group list-group-horizontal' style="min-height: 25px">
                            <li class="list-group-item"
                                th:each="billingCodeType : ${sortedTypes}"
                                th:attr="data-id=${billingCodeType.id}"
                                th:text="${billingCodeType.codeType}">Job1 #</li>
                        </ul>
                    </div>
                </div>
                <h4 class="mt-5">Available Segments:</h4>
                <div class="mt-5 card text-dark bg-light">
                    <div class="card-body">
                        <ul class='sortable list-group list-group-horizontal' style="min-height: 25px">
                            <li class="list-group-item"
                                th:each="billingCodeType : ${otherTypes}"
                                th:attr="data-id=${billingCodeType.id}"
                                th:text="${billingCodeType.codeType}">Sub Job</li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(function () {
            $("ul.sortable").sortable({
                group: 'sortable',
                pullPlaceholder: false,
            });
        })

        function saveStructure() {
            let categories = [];
            $('#div-structure ul li').each(function () {
                categories.push($(this).data('id'));
            });
            submitModule.saveCostCodeStructure(categories);
        }
    </script>
    <script type="text/javascript" src="../static/js/jquery-sortable.js" th:src="@{/js/jquery-sortable.js}"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
