<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Employee</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <!-- Bootstrap 4 DatePicker js and css   -->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" th:remove="tag"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet" th:remove="tag">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript" th:remove="tag"></script>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/corporate-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-employee" action="/employee" method="post" th:action="@{/employee}"
                          th:object="${employee}">
                        <input th:if="${employee.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                            <input th:field="*{projectId}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="employee-id">Employee ID:</label>
                            <select id="employee-id" class="form-select" th:field="*{empId}">
                                <option value="">--selected--</option>
                                <option th:each="rpcUser : ${rpcUsers}"
                                        th:value="${rpcUser.empId}" th:text="${rpcUser.empId}"></option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="client-emp-id">Client Employee ID:</label>
                            <input class="form-control" id="client-emp-id" th:field="*{clientEmpId}" type="text"
                                   value="10000"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="first-name">First Name:</label>
                            <input class="form-control" id="first-name" th:field="*{firstName}" type="text"
                                   value="Firstname" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="last-name">Last Name:</label>
                            <input class="form-control" id="last-name" th:field="*{lastName}" type="text"
                                   value="Lastname" required/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="craft">Craft:</label>
                            <input class="form-control" id="craft" th:field="*{craft}" type="text" value="801"
                                   required/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="per-diem-id">
                                Per Diem Rule: (This is the per diem rule for employee specific. If this is none, they will use the craft per diem or the project per diem)
                            </label>

                            <select id="per-diem-id" class="form-select" th:field="*{perDiemId}">
                                <option value="">None</option>
                                <option th:each="perDiem : ${perDiems}"
                                        th:value="${perDiem.id}" th:text="${perDiem.name}"></option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="client-craft">Client Craft:</label>
                            <input class="form-control" id="client-craft" th:field="*{clientCraft}" type="text"
                                   value="901"/>
                        </fieldset>

                        <fieldset class="mb-3" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="team">Team:</label>
                            <input class="form-control" id="team" th:field="*{teamName}" type="text" value="Team A"
                                   required/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="crew">Supervisor:</label>
                            <input class="form-control" id="crew" th:field="*{crew}" type="text" value="Supervisor"
                                   required/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="company">Company:</label>
                            <input class="form-control" id="company" th:field="*{company}" type="text" value="Company 1"
                                   required/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="badge">Badge:</label>
                            <input class="form-control" id="badge" th:field="*{badge}" type="text" value="1234"/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="has-per-diem">Per Diem</label>
                            <select class="form-select" id="has-per-diem" th:field="*{hasPerDiem}">
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_project_manager')">
                            <label for="has-rig-pay">Rig Pay</label>
                            <select class="form-select" id="has-rig-pay" th:field="*{hasRigPay}">
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <label for="timesheet">Timesheet (Department):</label>
                            <input class="form-control" id="timesheet" th:field="*{teamName}" type="text"
                                   value="team" required/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <label for="job-number">Dept. Code (Job#):</label>
                            <input class="form-control" id="job-number" th:field="*{jobNumber}" type="text"
                                   value="Job number"/>
                        </fieldset>

                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <label for="activity-code">Activity Code</label>
                            <input class="form-control" id="activity-code" th:field="*{activityCode}" type="text"
                                   value="Job number"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="base-st">Base ST:</label>
                            <input class="form-control" id="base-st" th:field="*{baseST}" type="number" step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="base-ot">Base OT:</label>
                            <input class="form-control" id="base-ot" th:field="*{baseOT}" type="number" step="any"
                                   value="100"/>
                        </fieldset>

                        <!-- TM-233 add rule service -->
                        <fieldset class="mb-3" th:unless="${rule != null && rule.hideDt}">
                            <label for="base-dt">Base DT:</label>
                            <input class="form-control" id="base-dt" th:field="*{baseDT}" type="number" step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="sign-in-sheet">Sign In Sheet:</label>
                            <input class="form-control" id="sign-in-sheet" th:field="*{signInSheet}" type="text"
                                   value="Group 1"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="holiday-rate">Holiday Rate:</label>
                            <input class="form-control" id="holiday-rate" th:field="*{holidayRate}" type="number"
                                   step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="sick-leave-rate">Sick Leave Rate:</label>
                            <input class="form-control" id="sick-leave-rate" th:field="*{sickLeaveRate}" type="number"
                                   step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="travel-rate">Travel Rate:</label>
                            <input class="form-control" id="travel-rate" th:field="*{travelRate}" type="number"
                                   step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="vacation-rate">Vacation Rate:</label>
                            <input class="form-control" id="vacation-rate" th:field="*{vacationRate}" type="number"
                                   step="any"
                                   value="100"/>
                        </fieldset>

                        <th:block
                                sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
                            <fieldset class="mb-3">
                                <label for="shift-name">Shift Name:</label>
                                <input class="form-control" id="shift-name" th:field="*{shift}" type="text" required/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="scheduleStart">Schedule start:</label>
                                <input class="form-control" id="scheduleStart" th:field="*{scheduleStart}" type="time"
                                       required/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="scheduleEnd">Schedule end:</label>
                                <input class="form-control" id="scheduleEnd" th:field="*{scheduleEnd}" type="time"
                                       required/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="breakStart">Break start:</label>
                                <input class="form-control" id="breakStart" th:field="*{lunchStart}" type="time"
                                       required/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="breakEnd">Break end:</label>
                                <input class="form-control" id="breakEnd" th:field="*{lunchEnd}" type="time" required/>
                            </fieldset>
                        </th:block>

                        <fieldset class="mb-3">
                            <label for="effected-on">Effected On:</label>
                            <input class="form-control" id="effected-on" th:name="effectedOn"
                                   th:value="${#temporals.format(employee.effectedOn, 'MM/dd/yyyy')}"
                                   type="text" required/>
                        </fieldset>

                        <!-- TM-294 start -->
                        <fieldset class="mb-3">
                            <label for="effected-on">Hire At:</label>
                            <input class="form-control" id="hired-at" th:name="hiredAt"
                                   th:value="${#temporals.format(employee.hiredAt, 'MM/dd/yyyy')}"
                                   type="text"/>
                        </fieldset>
                        <!-- TM-294 end -->

                        <fieldset class="mb-3">
                            <label for="terminated-at">Terminated At</label>
                            <input class="form-control" id="terminated-at" th:name="terminatedAt"
                                   th:value="${#temporals.format(employee.terminatedAt, 'MM/dd/yyyy')}"
                                   type="text"/>
                        </fieldset>

                        <!-- TM-307 Start -->
                        <fieldset class="mb-3"
                                  sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                            <label for="is-offsite">Is Offsite:</label>
                            <select id="is-offsite" class="form-select" th:field="*{isOffsite}">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </fieldset>
                        <!-- TM-307 End -->

                        <button class="btn btn-success mt-2" style="float: right; margin-bottom: 50px;"
                                type="submit">Save
                        </button>
                        <button type="button" class="btn btn-warning mt-2" style="margin-right: 25px; float: right;
                         margin-bottom: 50px;" onclick="window.history.go(-1); return false;">
                            Cancel
                        </button>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let employee = /*[[${employee}]]*/ '';

        /*]]>*/
    </script>
    <script th:inline="javascript">
        $("#employee-id").select2();
        $("#employee-id").on("select2:select", function () {
            let rpcUsers = [[${rpcUsers}]];
            for (let rpcUser of rpcUsers) {
                if ($("#employee-id").val() == rpcUser["empId"]){
                    $("#form-employee input:visible").each(function (){
                        let filed = $(this).attr("name")
                        $(this).val(rpcUser[filed]);
                    })
                    $("#form-employee select:visible").each(function (){
                        let filed = $(this).attr("name")
                        $(this).val(rpcUser[filed].toString());
                    })
                }
            }
        })
        $.fn.regexMask = function (mask) {
            $(this).keypress(function (event) {
                if (!event.charCode) return true;
                let part1 = this.value.substring(0, this.selectionStart);
                let part2 = this.value.substring(this.selectionEnd, this.value.length);
                if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                    return false;
            });
        };

        let oldShiftName = "";
        $(document).ready(function () {
            $('.info-circle').popover({
                trigger: 'focus'
            });
            $('#effected-on').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });

            // TM-294 start
            $('#hired-at').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            // TM-294 end

            $('#terminated-at').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#scheduleStart').timepicker({
                // timeFormat: 'h:mm p',
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#scheduleEnd').timepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#breakStart').timepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#breakEnd').timepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });

            let shiftName = $('#shift-name');
            if (shiftName.length > 0) {
                shiftName.on('focus', function () {
                    oldShiftName = this.value;
                })

                shiftName.on('blur', function () {
                    if (this.value !== oldShiftName) {
                        oldShiftName = this.value;
                        $.ajax({
                            type: "GET",
                            url: `shift?name=${oldShiftName}`,
                            success: function (data) {
                                if (data) {
                                    $('#scheduleStart').val(data['scheduleStart']);
                                    $('#scheduleEnd').val(data['scheduleEnd']);
                                    $('#breakStart').val(data['breakStart']);
                                    $('#breakEnd').val(data['breakEnd']);
                                }
                            },
                        });
                    }
                });
            }
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
