<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>equipment</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-project-setup"
                 sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-equipment" action="/equipment-price" method="post" th:action="@{/equipment-price}"
                          th:object="${equipmentPrice}">
                        <input th:if="${equipmentPrice.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="equipmentClass">Class:</label>
                            <input class="form-control" id="equipmentClass" th:field="*{equipmentClass}" type="text"
                                   value="6"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="description">Class:</label>
                            <input class="form-control" id="description" th:field="*{description}" type="text"
                                   value="desc"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="hourly-rate">Hourly Rate:</label>
                            <input class="form-control" id="hourly-rate" th:field="*{hourlyRate}" type="number"
                                   value="Hourly Rate"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="daily-rate">Daily Rate:</label>
                            <input class="form-control" id="daily-rate" th:field="*{dailyRate}" type="number"
                                   value="Daily Rate"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="weekly-rate">Weekly Rate:</label>
                            <input class="form-control" id="weekly-rate" th:field="*{weeklyRate}" type="number"
                                   value="Weekly Rate"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="monthly-rate">Monthly Rate:</label>
                            <input class="form-control" id="monthly-rate" th:field="*{monthlyRate}" type="number"
                                   value="Monthly Rate"/>
                        </fieldset>

                        <div class="mt-3, me-3" style="float: right">
                            <button type="button" class="btn btn-warning" style="margin-right: 25px;"
                                    onclick="window.history.go(-1); return false;">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-success">Save
                            </button>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(document).ready(function () {
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
