<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Inbox</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <main role="main">
                <header class="mb-auto">
                </header>
                <h2 class="my-2">Inbox</h2>
                <div class="accordion" id="notifications">
                    <th:block th:unless="${notifications != null && notifications.size() > 0}">
                        <span>No messages</span>
                    </th:block>
                    <th:block th:if="${notifications != null && notifications.size() > 0}" th:each="notification, stat: ${notifications}">
                        <div class="card">
                            <div class="card-header" id="heading1" th:id="|heading${stat.index}|">
                                <h5 class="mb-0">
                                    <button class="btn collapsed" name="btn-message" th:classappend="${notification.read ? '' : 'btn-link'}" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="false"
                                            th:attr="data-bs-target='#collapse' + ${stat.index},
                                            aria-controls='collapse' + ${stat.index},
                                             data-notification-id=${notification.id}"
                                            aria-controls="collapse1">
                                        <span th:text="${notification.summary}">Summary</span>
                                    </button>
                                    <span class="float-end mt-1"
                                          th:text="${#temporals.format(notification.createdAt, 'MM/dd/yy')}">01/01/20</span>
                                </h5>
                            </div>
                            <div id="collapse1" th:id="|collapse${stat.index}|" class="collapse"
                                 aria-labelledby="heading1"
                                 th:attr="aria-labelledby='heading' + ${stat.index}"
                                 data-parent="#notifications">
                                <div class="card-body">
                                    <h4 th:text="|From ${notification.from}:|">From System:</h4>
                                    <span th:text="${notification.message}">This is a message</span>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        (function () {
            $('button[name="btn-message"]').on('click', function () {
                let btnMessage = $(this);
                let notRead = btnMessage.hasClass('btn-link');
                let notificationId = btnMessage.data('notification-id');
                if (notRead) {
                    $.ajax({
                        type: 'PUT',
                        url: `notification?id=${notificationId}&read=true`,
                        success: function () {
                            btnMessage.removeClass('btn-link');
                            let spComment = $('#sp-comment');
                            let spCommentNum = $('#sp-comment-num');
                            if (spComment && spCommentNum) {
                                let count = 0;
                                let spCommentNumText = spCommentNum.text();
                                if (spCommentNumText) {
                                    count = parseInt(spCommentNumText);
                                    count = count - 1;
                                    if (count === 0) {
                                        spComment.hide();
                                        spComment.removeClass('visible').addClass('hidden');
                                        spCommentNum.text("");
                                    } else {
                                        spCommentNum.text(count.toString());
                                    }
                                }

                            }

                        },
                    });
                }
            });

        })();
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
