<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Project</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-projects"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form" action="/project" method="post" th:action="@{/project}"
                          th:object="${project}">
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="job-number">Job #:</label>
                            <input name="jobNumber" class="form-control" id="job-number" th:field="*{jobNumber}" type="text" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="sub-job">Sub Job:</label>
                            <input class="form-control" id="sub-job" th:field="*{subJob}" type="text"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('subJob')}" th:errors="*{subJob}"></span>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="description">Description:</label>
                            <input class="form-control" id="description" th:field="*{description}" type="text"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="project-id">Project ID:</label>
                            <input class="form-control" id="project-id" type="text" readonly/>
                        </fieldset>

                        <!-- TM-192 Start -->
                        <fieldset class="mb-3">
                            <label for="client-name">Client Name</label>
                            <input class="form-control" id="client-name" th:field="*{clientName}" type="text">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="city">City</label>
                            <input class="form-control" id="city" th:field="*{city}" type="text">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="state">State</label>
                            <select class="form-control" id="state" th:field="*{state}">
                                <option selected value="">Select</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </fieldset>
                        <!-- TM-192 End -->

                        <fieldset class="mb-3">
                            <label for="active">Validity:</label>
                            <select class="form-select" id="active" th:field="*{active}">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3" th:if="not ${projectManagerNameIdMap.isEmpty()}">
                            <label>Project Managers:</label>
                            <div class="list-group">
                                <label class="list-group-item" th:each="instance : ${projectManagerNameIdMap}">
                                    <input class="form-check-input me-1" type="checkbox" th:field="*{userIds}"
                                           th:value="${instance.value}"/>
                                    <span th:for="${#ids.prev('userIds')}" th:text="${instance.key}">Joey@gmail.com</span>
                                </label>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3" th:if="not ${otherNameIdMap.isEmpty()}">
                            <label>Other roles:</label>
                            <div class="list-group">
                                <label class="list-group-item" th:each="instance : ${otherNameIdMap}">
                                    <input class="form-check-input me-1" type="checkbox" th:field="*{userIds}"
                                           th:value="${instance.value}"/>
                                    <span th:for="${#ids.prev('userIds')}" th:text="${instance.key}">Joey@gmail.com</span>
                                </label>
                            </div>
                        </fieldset>

                        <div th:if="${projectManagerNameIdMap.isEmpty() && otherNameIdMap.isEmpty()}">
                            <span>No users found. You can assign this project to a user later.</span>
                        </div>

                        <fieldset class="my-3" th:if="${project.id == null}">
                            <label for="duplicate">Duplicate Project (Optional):
                                <a tabindex="0" href="" title="Duplicate project" class="info-circle"
                                   data-bs-toggle="popover" data-bs-trigger="focus" style="margin-left: 5px;"
                                   onclick="return false;"
                                   data-bs-content="This will duplicate rules, shifts, rain-out policies and cost codes for this project specific">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </label>
                            <select class="form-select" id="duplicate" th:field="*{projectId}">
                                <option selected value="">Select</option>
                                <option th:each="dProject : ${projects}"
                                        th:value="${dProject.id}"
                                        th:text="|${dProject.jobNumber}-${dProject.subJob} ${dProject.description}|"
                                        value="0">Project to duplicate</option>
                            </select>
                        </fieldset>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4 me-4">
                            <button type="button" class="btn btn-warning me-md-2"
                                    onclick="window.history.go(-1); return false;">
                                Cancel
                            </button>
                            <a href="#deleteModal" class="btn btn-danger me-md-2" data-bs-toggle="modal"
                               th:if="${project.id != null}"
                               th:attr="data-id=${project.id}"
                               title="Delete">Delete</a>
                            <input class="btn btn-success" type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center text-danger">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to delete the project. This action is irreversible. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/project(id=${project.id})}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(function () {
            $('.info-circle').popover({
                trigger: 'focus'
            });
            $('#job-number, #sub-job').on('change', function () {
                updateProjectId();
            });
            updateProjectId();
        });

        function updateProjectId() {
            let jobNumber = $('#job-number').val();
            let subJob = $('#sub-job').val();
            let projectIdInput = $('#project-id');
            if (!jobNumber) {
                projectIdInput.val('');
            } else if (!subJob) {
                projectIdInput.val(jobNumber);
            } else {
                projectIdInput.val(jobNumber + '-' + subJob);
            }
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
