<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Purchase Vendor Roster</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
            margin-bottom: 1rem !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 mb-3">
                    <button id="btn-upload-purchase-vendor-roster" type="button" class="btn btn-secondary"
                            sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                        Upload Vendor Roster
                    </button>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table id="tb-purchase-vendor-roster" class="table table-striped show">
                        <thead>
                            <tr>
                                <th>Vendor ID</th>
                                <th>Vendor Name</th>
                                <th>Upload Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Vendor ID</td>
                                <td>Vendor Name</td>
                                <th>Upload Time</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="div-upload-purchase-vendor-roster" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Purchase Vendor Roster</h4>
                </div>
                <div class="modal-body">
                    <div id="div-upload-purchase-vendor-roster-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-upload-purchase-vendor-roster-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        $(function () {
            let oTable = $('#tb-purchase-vendor-roster').DataTable({
                orderCellsTop: true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "purchase-vendor-roster-list",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {"data": "vendorId" },
                    {"data": "vendorName" },
                    {
                        "data": "createdAt",
                        "render": function(data, type, row, meta){
                            return dateFormat(data);
                        }
                    }
                ],
            });
            $('#tb-purchase-vendor-roster thead tr').clone(false).appendTo('#tb-purchase-vendor-roster thead');
            $('#tb-purchase-vendor-roster thead tr:eq(1) th').each(function (i) {
                let title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (oTable.column(i).search() !== this.value) {
                        oTable.column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            let state = oTable.state.loaded();
            if (state) {
                let hasColSearch = false;
                oTable.columns().eq(0).each(function (colIdx) {
                    let colSearch = state.columns[colIdx].search;

                    if (colSearch.search) {
                        $('input', $(oTable.table().node()).find(`thead tr:eq(1) th:eq(${colIdx})`)).val(colSearch.search);
                    }
                });
                if (hasColSearch) {
                    oTable.draw();
                }
            }
            $('#btn-upload-purchase-vendor-roster').on("click", function (){
                $('#div-upload-purchase-vendor-roster').modal('show');
            });
            $('button#btn-upload-purchase-vendor-roster-dz-submit').on('click', function () {
                let myDropzone = Dropzone.forElement('#div-upload-purchase-vendor-roster-dz');
                let file_len = myDropzone.getQueuedFiles().length;
                if (file_len < 1) {
                    alert("Please drop file first");
                } else {
                    myDropzone.processQueue();
                }
            });
            $("div#div-upload-purchase-vendor-roster-dz").dropzone({
                url: parserUrl + "/purchase-orders",
                autoProcessQueue: false,
                addRemoveLinks: true,
                crossDomain: true,
                init: function () {
                    this.on("sending", function (data, xhr, formData) {
                        formData.append("fileType", "purchase_vendor_roster");
                    });
                },
            });
        });

        function dateFormat(data){
            let date = new Date(data);
            let dd = date.getDate();
            let mm = date.getMonth() + 1;
            let yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            date = mm + '/' + dd + '/' + yyyy;
            return date;
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
