<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Weekly Per Diem Expense Summary</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header" sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-reports" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <div th:replace="fragments/admin::sidebar-reports" sec:authorize="hasAnyRole('ROLE_admin')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-reports" sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100 mt-5">
                    <form id="form-per-diem-expense">
                        <fieldset class="mb-3" th:if="${sessionProjectId == null}">
                            <label for="project">Project: (Required)</label>
                            <select id="project" name="project" class="form-select w-100"
                                    title="Select project" required>
                                <option selected disabled hidden>Select</option>
                                <option th:each="project : ${projects}"
                                        th:text="|${project.jobSubJob}    ${project.description == null ? '' : project.description}|"
                                        th:value="${project.id}">Project 1
                                </option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="start-date">Start Date:</label>
                            <input id="start-date" name="startDate" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="end-date">End Date:</label>
                            <input id="end-date" name="endDate" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label>Please select a shift (Optional)</label>
                            <select id="shift" class="form-select" title="Select a shift">
                                <option selected disabled hidden>Select</option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="select-tag">Tag: (Optional)</label>
                            <select id="select-tag" class="form-select" title="Select a tag">
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="select-code">Tag Code:(must select the tag first) (Optional)</label>
                            <select id="select-code" name="codes[]" multiple="multiple" class="form-select" title="Select a code">
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="approved-only">Approved Only:</label>
                            <select class="form-select" id="approved-only" required>
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </fieldset>

                        <input class="btn btn-success" style="margin-bottom: 50px; margin-top: 10px; float: right"
                               type="button" onclick="generateReport()"
                               value="Generate"/>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#select-tag').select2({})
            $('#select-code').select2({})

            $('#select-tag').change(function () {
                let typeId = $(this).val();
                let select = $("#select-code");
                if (!typeId) {
                    select.find('option').remove();
                    select.append('<option></option>');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: `cost-code-tags?typeId=${typeId}`,
                    success: function (data) {
                        let select = $("#select-code");
                        let selectOptionsStr = '';
                        if (data.length !== 0) {
                            select.find("option").remove();
                            $.each(data, function (index, value) {
                                selectOptionsStr += `<option value="${value['codeName']}">${value['codeName']} | ${value['description']}</option>`;
                            });
                            select.append(selectOptionsStr);
                        } else {
                            select.find('option').remove();
                            select.append('<option></option>');
                        }
                    },
                });
            });

            // Initialize datepicker
            $('#start-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#end-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });

            $('#project').on('change', function () {
                getShifts();
                getCostCodeTagTypes();
            });
            getShifts();
            getCostCodeTagTypes();
        });

        function getShifts() {
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            if (projectId) {
                let select = $('#shift');
                select.find("option").remove();
                let selectOptionsStr = '<option selected disabled hidden>Select</option>';
                $.ajax({
                    url: 'shift-names',
                    data: {
                        projectId: projectId,
                    },
                    success: function (data) {
                        if (data.length !== 0) {
                            $.each(data, function (index, value) {
                                selectOptionsStr += `<option value="${value}">${value}</option>`;
                            });
                            select.append(selectOptionsStr);
                        }

                    },
                    error: function (error) {
                        select.append(selectOptionsStr);
                    }
                });
            }
        }

        function getCostCodeTagTypes() {
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            if (projectId) {
                let select = $('#select-tag');
                select.find("option").remove();
                let selectOptionsStr = '<option></option>';
                $.ajax({
                    url: 'cost-code-tag-types',
                    data: {
                        projectId: projectId,
                    },
                    success: function (data) {
                        if (data.length !== 0) {
                            $.each(data, function (index, value) {
                                selectOptionsStr += `<option value="${value['id']}">${value['tagType']}</option>`;
                            });
                            select.append(selectOptionsStr);
                            $('#select-tag').select2({
                                placeholder: "Please select a tag",
                                allowClear: true,
                            })
                        }
                    },
                    error: function (error) {
                        select.append(selectOptionsStr);
                    }
                });
            }
        }

        function generateReport() {
            let formPerDiemExpense = $('#form-per-diem-expense');
            if (!formPerDiemExpense.valid()) return;
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            let startDate = $("input#start-date").val();
            let endDate = $("input#end-date").val();
            let tagOption = $('#select-tag').find(':selected');
            let code = $('#select-code').val();
            let tag = ('' + tagOption.text()).trim();
            let tagCodeQuery = (tag && code) ? `&tag=${tag}&code=${code}` : '';
            let shift = $("select#shift").val();
            let shiftQuery = !!shift ? `&shift=${shift}` : '';
            let approvedOnly = $('#approved-only').val();
            timavenDocument('GET', 'v1', 'report-per-diem-expense', true,
                'No hours on selected criteria',
                `projectId=${projectId}&startDate=${startDate}&endDate=${endDate}${tagCodeQuery}${shiftQuery}&approvedOnly=${approvedOnly}`)
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
