<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Time Assignment</title>
    <meta charset="utf-8" th:remove="tag">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" th:remove="tag">
    <meta name="description" content="" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <main role="main">
        <div class="d-flex justify-content-end mt-5">
            <div class="d-grid gap-3 d-md-flex justify-content-md-end me-4 py-3">
                <button type="button" class="btn btn-success me-md-2" onclick="generateReport()">
                    Generate
                </button>
            </div>
        </div>
        <div class="row m-4" th:if="${sessionProjectId == null}">
            <div class="col-6">
                <label for="project">Project: (Required)</label>
                <select id="project" class="form-select w-100" title="Select project" required>
                    <option selected disabled hidden>Select</option>
                    <option th:each="project : ${projects}"
                            th:text="|${project.jobSubJob}    ${project.description == null ? '' : project.description}|"
                            th:value="${project.id}">Project 1
                    </option>
                </select>
            </div>
        </div>

        <div class="row m-4">
            <div class="col-4">
                <label for="dos">Date of Service: (Required)</label>
                <input id="dos" type="text" class="form-control"
                       placeholder="Please select a date"/>
            </div>
        </div>

        <div id="employees" class="row m-4">
            <div class="col-4">
                <label for="sl-employee" style="font-size: 20px">Add an absentee</label>
                <select id="sl-employee" class="form-select" title="Select employees">
                    <option selected disabled hidden>Select</option>
                </select>
            </div>
        </div>

        <div class="container div-grid-view" style="max-width: 100%;">
            <table id="tb-report-absentee" class="table table-striped table-bordered grid-view w-100">
                <thead>
                <tr>
                    <th class="searchable">
                        <div>Name</div>
                    </th>
                    <th class="searchable">
                        <div>Craft Code</div>
                    </th>
                    <th class="searchable">
                        <div>
                            Supervisor
                        </div>
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </main>
</div>
<th:block layout:fragment="default_script">
        <script type="text/javascript">
            let selectedEmployeeId = [];
            let employeeMap = {};
            $(function () {

                $('#dos').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                })

                $('#dos, #project').on('change', function () {
                    getEmployees();
                })

                $('#sl-employee').select2({});

                $('#sl-employee').change(function () {
                    let val = $(this).val();
                    if (!selectedEmployeeId.includes(val)) {
                        let employee = employeeMap[val];
                        selectedEmployeeId.push(val);

                        let tr = `<tr data-val="${val}">` +
                            '<td style="vertical-align: middle">' +
                            `<span>${employee.fullName}</span>` +
                            '</td>' +
                            '<td style="vertical-align: middle">' +
                            `<span>${employee.craft}</span>` +
                            '</td>' +
                            '<td style="vertical-align: middle">' +
                            `<span>${employee.crew}</span>` +
                            '</td>' +
                            '<td>' +
                            `<button name="delete-row" type="button" class="btn btn-danger">Delete</button>` +
                            '</td>' +
                            '</tr>';
                        $("table.grid-view tbody").append(tr);
                        $('button[name="delete-row"]').on('click', function () {
                            let tr = $(this).closest('tr');
                            let val = tr.data('val');
                            tr.remove();
                            let index = selectedEmployeeId.indexOf(val);
                            selectedEmployeeId.splice(index, 1)
                        });
                    }
                })
            });

            function getEmployees() {
                let projectId;
                if (typeof sessionProjectId !== 'undefined') {
                    projectId = sessionProjectId;
                } else {
                    projectId = $('#project').val();
                }
                let dos = $('#dos').val();
                if (projectId && dos) {
                    $.ajax({
                        url: 'employees/id/name',
                        data: {
                            projectId: projectId,
                            // dateOfService: isoDate,
                            dateOfService: dos,
                        },
                        success: function (data) {
                            let select = $('#sl-employee');
                            select.find("option").remove();
                            let selectOptionsStr = '<option selected disabled hidden>Select</option>';
                            if (data.length !== 0) {
                                $.each(data, function (index, value) {
                                    selectOptionsStr += `<option value="${value['id']}">${value['fullName']}</option>`;
                                });
                                select.append(selectOptionsStr);
                            }
                            employeeMap = data.reduce(function (map, obj) {
                                map[obj.id] = obj;
                                return map;
                            }, {});
                            select.select2('destroy');
                            select.select2({
                                placeholder: "Please select an employee",
                                allowClear: true
                            });
                        },
                    });
                }
            }

            function generateReport() {
                if (selectedEmployeeId.length === 0) {
                    alert("No employee is selected");
                    return;
                }
                let dos = $('#dos').val();
                timavenDocument('POST', 'v1', 'report-absentee', true,
                    'No time available at this condition',
                    `dateOfService=${dos}`,JSON.stringify(selectedEmployeeId), "application/json");
            }
        </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
