<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Summary of Employee Hours and Billing</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <div th:replace="fragments/admin::sidebar-reports" sec:authorize="hasAnyRole('ROLE_admin')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100 mt-5">
                    <form id="form-employees">
                        <fieldset class="mb-3">
                            <label for="project">Project: (Required)</label>
                            <select id="project" name="project[]" class="form-select w-100" multiple="multiple"
                                    title="Select project" required>
                                <option th:each="project : ${projects}"
                                        th:text="|${project.jobSubJob}    ${project.description == null ? '' : project.description}|"
                                        th:value="${project.id}">Project 1
                                </option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="segment-tag">Please select report categories (Optional.)</label>
                            <select id="segment-tag" name="segment-tag[]" multiple="multiple" class="form-select"
                                    title="Select categories">
                                <option th:each="category : ${categories}"
                                        th:text="${category}"
                                        th:value="${category}">Unit
                                </option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="start-date">Start Date:</label>
                            <input id="start-date" name="startDate" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="end-date">End Date:</label>
                            <input id="end-date" name="endDate" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="approved-only">Approved Only:</label>
                            <select class="form-select" id="approved-only" required>
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </fieldset>

                        <input class="btn btn-success" style="margin-bottom: 50px; margin-top: 10px; float: right"
                               type="button" onclick="generateReport()"
                               value="Generate"/>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let manualInputDate;
        $(document).ready(function () {

            $('#project').select2({
                placeholder: "Please select projects",
                allowClear: true,
            })

            let segmentTagSelect = $('#segment-tag');
            segmentTagSelect.select2({
                placeholder: "Please select report categories",
                allowClear: true,
            });

            segmentTagSelect.on("select2:select", function (evt) {
                var element = evt.params.data.element;
                var $element = $(element);

                window.setTimeout(function () {
                    if (segmentTagSelect.find(":selected").length > 1) {
                        var $second = segmentTagSelect.find(":selected").eq(-2);

                        $element.detach();
                        $second.after($element);
                    } else {
                        $element.detach();
                        segmentTagSelect.prepend($element);
                    }

                    segmentTagSelect.trigger("change");
                }, 1);
            });

            segmentTagSelect.on("select2:unselect", function (evt) {
                if (segmentTagSelect.find(":selected").length) {
                    var element = evt.params.data.element;
                    var $element = $(element);
                    segmentTagSelect.find(":selected").last().after($element);
                }
            });

            // Initialize datepicker
            $('#start-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#end-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
        });

        function generateReport() {
            let formEmployees = $('#form-employees');
            if (!formEmployees.valid()) return;
            let startDate = $("input#start-date").val();
            let endDate = $("input#end-date").val();
            let projectIds = $('#project').val();
            let groupingBy = $('#segment-tag').val();
            let approvedOnly = $('#approved-only').val();
            let payload = {
                "projectIds": projectIds.map(Number),
                "groupingBy": groupingBy,
                "startDate": startDate,
                "endDate": endDate,
                "approvedOnly": approvedOnly,
            }
            timavenDocument('POST', 'v1', 'report-employee-hours/tracking-category', true,
                'No hours or billings on selected criteria', '', JSON.stringify(payload), "application/json")
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
