<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Rule</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet" />
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-projects" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-rule" action="/rule" method="post" th:action="@{/rule}" th:object="${rule}">
                        <input th:if="${rule.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                            <input th:field="*{projectId}" type="hidden">
                        </fieldset>

                        <div th:if="${rule.projectId != null}">
                            <fieldset class="mb-3">
                                <label for="roundingMode">Rounding Policy:</label>
                                <select class="form-select" id="roundingMode" th:field="*{roundingMode}">
                                    <option value="ROUNDING_TO_NEAREST_NTH_MINUTE">ROUNDING_TO_NEAREST_NTH_MINUTE</option>
                                    <option value="ROUNDING_UP">ROUNDING_UP</option>
                                    <option value="ROUNDING_DOWN">ROUNDING_DOWN</option>
                                </select>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="roundingMinutes">Rounding minutes:</label>
                                <input class="form-control" id="roundingMinutes" th:field="*{roundingMinutes}" type="number" value="6"/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="graceIn">Grace in:</label>
                                <input class="form-control" id="graceIn" th:field="*{graceIn}" type="number" value="3"/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="graceOut">Grace out:</label>
                                <input class="form-control" id="graceOut" th:field="*{graceOut}" type="number" value="15"/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="description">Description (Optional) :</label>
                                <input class="form-control" id="description" th:field="*{description}" type="text" value="This a description"/>
                            </fieldset>

                            <fieldset class="mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        Per Diem
                                    </div>
                                    <div class="card-body">
                                        <fieldset class="mb-3">
                                            <label for="per-diem-id">Per Diem Rule:</label>
                                            <select id="per-diem-id" class="form-select" th:field="*{perDiemId}">
                                                <option value=""></option>
                                                <option th:each="perDiem : ${perDiems}"
                                                        th:value="${perDiem.id}" th:text="${perDiem.name}"></option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="rig-pay">Rig pay threshold:</label>
                                <div class="input-group mb-3">
                                    <input id="rig-pay" type="number" class="form-control"
                                           placeholder="Rig pay threshold"
                                           aria-label="Rig pay threshold"
                                           required
                                           aria-describedby="rig-pay-threshold" th:field="*{rigPayThreshold}" value=""/>
                                    <span class="input-group-text" id="rig-pay-threshold">Hours</span>
                                </div>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="week-end-day">Week end day:</label>
                                <select id="week-end-day" class="form-select" th:field="*{weekEndDay}">
                                    <option th:each="dayOpt : ${T(java.time.DayOfWeek).values()}"
                                            th:value="${dayOpt}" th:text="${dayOpt.name()}"></option>
                                </select>
                            </fieldset>

                            <fieldset id="field-day-off-threshold" class="mb-3">
                                <label for="input-day-off-threshold">
                                    Day Off Threshold:
                                    <a tabindex="0" href="" title="day off threshold" class="info-circle"
                                       data-bs-toggle="popover" data-bs-trigger="focus" style="margin-left: 5px;"
                                       onclick="return false;"
                                       data-bs-content="If an employee worked consecutive days more than this threshold, they would have a day off and their names won't show on the sign in sheet">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </label>
                                <div class="input-group mb-3">
                                    <input id="input-day-off-threshold" type="number" class="form-control"
                                           placeholder="Day Off Threshold"
                                           aria-label="Day Off Threshold"
                                           aria-describedby="day-off-threshold" th:field="*{dayOffThreshold}" value=""/>
                                    <span class="input-group-text" id="day-off-threshold">Days</span>
                                </div>
                                <!-- TM-233 hide/show DT info -->
                                <fieldset class="mb-3">
                                    <label for="equipment-exclude-weekend">Hide Dt:</label>
                                    <select class="form-select" id="show-dt"
                                            th:field="*{hideDt}">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </fieldset>
                            </fieldset>

                            <fieldset class="mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        Equipment
                                    </div>
                                    <div class="card-body">
                                        <label for="equipment-weekday-hour">Weekday Hour:</label>
                                        <div class="input-group mb-3">
                                            <input id="equipment-weekday-hour" type="number" class="form-control"
                                                   placeholder="Weekday Hour"
                                                   aria-label="Weekday Hour"
                                                   required
                                                   aria-describedby="weekday-hour" th:field="*{equipmentWorkdayHour}" value="8"/>
                                            <span class="input-group-text" id="weekday-hour">Hours</span>
                                        </div>

                                        <fieldset class="mb-3">
                                            <label for="equipment-exclude-weekend">Exclude Weekend:</label>
                                            <select class="form-select" id="equipment-exclude-weekend"
                                                    th:field="*{equipmentExcludeWeekend}">
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </fieldset>

                                        <fieldset class="mb-3">
                                            <label for="equipment-cost-code">Equipment cost code (Optional):</label>
                                            <select id="equipment-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{equipmentCostCode}">
                                                <option value=""></option>
                                                <option th:each="costCodeLog : ${costCodes}"
                                                        th:value="${costCodeLog.costCodeFull}"
                                                        th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                                    1234567891 (Description)
                                                </option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="mb-3">
                                <label for="mob_amount">MOB/DEMOB mileage rate:</label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input class="form-control" id="mob_amount" th:field="*{mobMileageRate}" type="number" step="any" value="0" required/>
                                </div>
                            </fieldset>
                        </div>

                        <div th:unless="${rule.projectId != null}" sec:authorize="hasRole('ROLE_admin')">
                            <fieldset class="mb-3">
                                <label for="per-diem-cost-code2">Per Diem Cost Code:</label>
                                <select id="per-diem-cost-code2" class="form-select w-100" title="Select a cost code" th:field="*{perDiemCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="st-cost-code">Standard Time Cost Code:</label>
                                <select id="st-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{stCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="ot-cost-code">Overtime Cost Code:</label>
                                <select id="ot-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{otCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="dt-cost-code">Double Time Cost Code:</label>
                                <select id="dt-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{dtCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="sick-cost-code">Sick Cost Code:</label>
                                <select id="sick-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{sickCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="holiday-cost-code">Holiday Cost Code:</label>
                                <select id="holiday-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{holidayCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="vacation-cost-code">Vacation Cost Code:</label>
                                <select id="vacation-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{vacationCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <fieldset class="mb-3">
                                <label for="other-cost-code">Cost Code For Other:</label>
                                <select id="other-cost-code" class="form-select w-100" title="Select a cost code" th:field="*{otherCostCode}">
                                    <option value=""></option>
                                    <option th:each="costCodeLog : ${costCodes}"
                                            th:value="${costCodeLog.costCodeFull}"
                                            th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                        1234567891 (Description)
                                    </option>
                                </select>
                            </fieldset>
                            <!-- TM-233 hide/show DT info -->
                            <fieldset class="mb-3">
                                <label for="equipment-exclude-weekend">Hide Dt:</label>
                                <select class="form-select" id="show-dt-project"
                                        th:field="*{hideDt}">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4 me-4">
                            <a class="btn btn-warning me-md-2" href="project.html" th:href="@{/__${#authorization.expression('hasRole(''ROLE_admin'')') ? 'projects' : 'home' }__}">Cancel</a>
                            <input class="btn btn-success" type="button" onclick="saveRule()" value="Submit"/>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let rule = [[${rule}]];

        /*]]>*/
    </script>
    <script th:inline="javascript">
        $.fn.regexMask = function (mask) {
            $(this).keypress(function (event) {
                if (!event.charCode) return true;
                let part1 = this.value.substring(0, this.selectionStart);
                let part2 = this.value.substring(this.selectionEnd, this.value.length);
                if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                    return false;
            });
        };

        $(document).ready(function () {
            let mask = new RegExp(/^[0-9]*$/);

            if (rule.projectId !== null) {
                $("#roundingMinutes").regexMask(mask);
                $("#graceIn").regexMask(mask);
                $("#graceOut").regexMask(mask);
                $("#rig-pay").regexMask(mask);
                $('.info-circle').popover({
                    trigger: 'focus'
                });
                $('#equipment-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
            } else {
                $('#per-diem-cost-code2').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#st-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#ot-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#dt-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#sick-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#holiday-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#vacation-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
                $('#other-cost-code').select2({
                    placeholder: "Please select a cost code",
                    allowClear: true
                })
            }
        });

        $('#form-rule').validate({
            //Otherwise, validator will use title as error message
            ignoreTitle: true,
            onfocusout: false,
            invalidHandler: function (form, validator) {
                let errors = validator.numberOfInvalids();
                if (errors) {
                    validator.errorList[0].element.focus();
                }
            },
            errorPlacement: function (error, element ) {
                let div = $(element).closest('div');
                error.insertAfter(div);
            }
        });

        function saveRule() {
            let formRule = $('#form-rule');
            if (!formRule.valid()) return;
            formRule.submit();
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
