<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Shifts</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-projects" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="container" style="margin-top: 50px;">
                    <table id="tb-shifts" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Schedule Start</th>
                            <th>Schedule End</th>
                            <th>Break Start</th>
                            <th>Break End</th>
                            <th>Paid Break Duration</th>
                            <th>Default</th>
                            <th th:if="${shifts.size() > 1}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="shift : ${shifts}">
                            <td>
                                <a href="shift.html" th:href="@{/shift(shiftId=${shift.id}, projectId=${projectId})}"
                                   th:text="${shift.name}">Day</a>
                            </td>
                            <td>
                                <span th:text="${#temporals.format(shift.scheduleStart, 'HH:mm')}">07:00</span>
                            <td>
                                <span th:text="${#temporals.format(shift.scheduleEnd, 'HH:mm')}">17:30</span>
                            </td>
                            <td>
                                <span th:text="${#temporals.format(shift.breakStart, 'HH:mm')}">12:00</span>
                            </td>
                            <td>
                                <span th:text="${#temporals.format(shift.breakEnd, 'HH:mm')}">12:45</span>
                            </td>
                            <td>
                                <span th:text="${shift.paidBreakDuration}">15</span>
                            </td>
                            <td>
                                <input type="radio" name="default" th:onchange="|changeDefShift(${projectId}, ${shift.id})|"
                                       th:checked="${shift.id == defShiftId} "><br>
                            </td>
                            <td th:if="${shifts.size() > 1}">
                                <a th:attr="data-id=${shift.id}, data-project-id=${projectId}" href="#deleteModal"
                                   class="btn btn-danger" data-bs-toggle="modal" title="Delete">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-success" href="shift.html" th:href="@{/shift(projectId=${projectId})}">Add Shift</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this shift?
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/shift}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        function changeDefShift(projectId, shiftId) {
            submitModule.changeDefShift(projectId, shiftId);
        }

        $(function () {
            $('#deleteModal').on("show.bs.modal", function (e) {
                // set the username
                let ctx = /*[[@{/}]]*/ '';
                let id = $(e.relatedTarget).data('id');
                let projectId = $(e.relatedTarget).data('project-id');
                $('form#form-delete').attr("action", ctx + `shift?id=${id}&projectId=${projectId}`);
            });
        })
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
