<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <!--suppress CssUnusedSymbol -->
    <style>
        .row-grid {
            margin-top: 25px;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/super-admin::header"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/super-admin::sidebar"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <div class="table-responsive">
                        <table id="table-super-admin" class="table table-striped">
                            <caption style="caption-side: top">All users</caption>
                            <thead>
                            <tr>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Validity
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, stat : ${users}" th:id="|row-${stat.index}|" id="row-0">
                                <td th:text="${user.displayName}">joey@gmail.com</td>
                                <td>
                                    <a href="#myModal" class="btn btn-success" data-bs-toggle="modal"
                                       th:attr="data-id=${user.id}"
                                       title="Set inactive" th:if="${user.active}">Active</a>
                                    <form th:action="@{/user-validity(id=${user.id},active=true)}"
                                          action="#" th:method="put"
                                          method="post" th:unless="${user.active}">
                                        <label>
                                            <input type="hidden" th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}">
                                        </label>
                                        <button type="submit" class="btn btn-danger" title="Set active">Inactive
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <a href="./update-user.html" th:href="@{/user(username=${user.username})}"
                                       class="btn btn-primary">Update</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="mt-auto">
                    </footer>
                </div>
                <footer class="mt-auto">
                </footer>
                <div>
                    <a class="btn btn-success" href="./add-user.html" th:href="@{/user}">Add User</a>
                </div>
                <!-- Modal HTML -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header" style="display: block">
                                <div style="display: block; text-align: center">
                                    <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                                </div>
                                <h4 class="modal-title text-center">Are you sure?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to inactive this user?</p>
                            </div>
                            <div class="modal-footer">
                                <form id="form-inactive" style="direction: ltr"
                                      action="/user-validity"
                                      th:method="put"
                                      method="post">
                                    <label>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    </label>
                                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-danger">Inactive</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(document).on("show.bs.modal", function (e) {
            // set the username
            let ctx = /*[[@{/}]]*/ '';
            let id = $(e.relatedTarget).data('id');
            $('form#form-inactive').attr("action", ctx + 'user-validity?id=' + id + '&active=false');
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
