<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')"></div>
    <div th:replace="fragments/foreman::header" sec:authorize="hasRole('ROLE_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')"></div>
            <div th:replace="fragments/foreman::sidebar" sec:authorize="hasRole('ROLE_foreman')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Current Timesheets</h1>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <th:block th:switch="${sessionTimesheetsMode}">
                                <span th:case="'1days'">Last 1 day</span>
                                <span th:case="'2days'">Last 2 days</span>
                                <span th:case="'3days'">Last 3 days</span>
                                <span th:case="'4days'">Last 4 days</span>
                                <span th:case="'5days'">Last 5 days</span>
                                <span th:case="'6days'">Last 6 days</span>
                                <span th:case="'7days'">Last 7 days</span>
                                <span th:case="'30days'">Last 30 day</span>
                                <span th:case="'lastPayrollWeek'">Last Payroll Week</span>
                                <span th:case="'specificDay'">By Date</span>
                                <span th:case="'specificWeek'">By Week</span>
                            </th:block>
                        </button>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton"
                             th:with="dayList = ${ {1, 2, 3, 4, 5, 6, 7, 30} }">
                            <a class="dropdown-item" href="#"
                               th:each="day : ${dayList}"
                               th:with="mode='__|${day}days|__'"
                               th:href="@{/timesheets(mode=${mode})}"
                               th:text="|Last ${day} ${day > 1 ? 'days' : 'day'}|">1 day </a>
                            <a class="dropdown-item" href="#"
                               th:href="@{/timesheets(mode='lastPayrollWeek')}">Last Payroll Week</a>
                            <a class="dropdown-item" href="#div-by-date" data-bs-toggle="modal">
                                By Date
                            </a>
                            <a class="dropdown-item" href="#div-by-week" data-bs-toggle="modal">
                                By Week
                            </a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary" role="alert" th:if="${lastUploaded != null}"
                     sec:authorize="hasAnyRole('ROLE_accountant')">
                    <span th:text="|You have submitted a time record at ${#temporals.format(lastUploaded, 'HH:mm')}|">You've submitted a time record at 10:00</span>
                </div>
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
                     sec:authorize="hasAnyRole('ROLE_accountant')"
                     th:if="${allocationSubmissions.size() == 0}">
                    <header class="mb-auto">
                    </header>
                    <div>
                        <h3>
                            There are no time allocations reported by foreman yet.
                        </h3>
                    </div>
                    <footer class="mt-auto">
                    </footer>
                </div>
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
                     sec:authorize="hasAnyRole('ROLE_accountant_foreman', 'ROLE_timekeeper')"
                     th:if="${allocationSubmissions.size() == 0 && teamServiceDates == null}">
                    <header class="mb-auto">
                    </header>
                    <div>
                        <h3>
                            No timesheet available for the selected period.
                        </h3>
                    </div>
                    <footer class="mt-auto">
                    </footer>
                </div>
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
                     sec:authorize="hasRole('ROLE_foreman')"
                     th:if="${allocationSubmissions.size() == 0 && teamServiceDates == null}">
                    <header class="mb-auto">
                    </header>
                    <div>
                        <h3>Field account hasn't submitted the new time record yet. Please wait.</h3>
                    </div>
                    <footer class="mt-auto">
                    </footer>
                </div>
                <div th:unless="${allocationSubmissions.size() == 0  and teamServiceDates == null}">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th class="searchable">
                                <div>Date of service</div>
                            </th>
                            <th class="searchable">
                                <div>Timesheet</div>
                            </th>
                            <th class="searchable" th:unless="${#authorization.expression('hasRole(''ROLE_foreman'')')}">
                                <div>Manager</div>
                            </th>
                            <th class="searchable">
                                <div>Status</div>
                            </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:unless="${teamServiceDates == null}"
                                  th:each="teamServiceDate : ${teamServiceDates}"
                                  th:with="teamName=${teamServiceDate.team}, dateOfService=${teamServiceDate.dateOfService}">
                            <tr>
                                <td>
                                    <span data-type="content" th:text="${#temporals.format(dateOfService, 'MM/dd/yy')}">23/09/10</span>
                                </td>
                                <td>
                                    <span data-type="content" th:text="${teamName}">Team A</span>
                                </td>
                                <td th:unless="${#authorization.expression('hasRole(''ROLE_foreman'')')}">
                                    <span data-type="content"></span>
                                </td>
                                <td>
                                    <span data-type="content">Pending</span>
                                </td>
                                <td>
                                    <a class="btn btn-primary"
                                       href="time-manage.html"
                                       th:href="@{/time-manage(teamName=${teamName},dateOfService=${dateOfService})}">
                                        Edit
                                    </a>
                                    <a href="#deleteModal" class="btn btn-danger"
                                       th:attr="data-team-name=${teamName}, data-dos=${dateOfService}"
                                       data-bs-toggle="modal" title="Delete">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                        <tr th:each="allocationSubmission : ${allocationSubmissions}"
                            th:unless="${#sets.isEmpty(allocationSubmissions)}"
                            th:with="status=${allocationSubmission.status.toString()}">
                            <td>
                                <span data-type="content" th:text="${#temporals.format(allocationSubmission.dateOfService, 'MM/dd/yy')}">23/09/10</span>
                                <span th:if="${allocationSubmission.isTlo()}" class="text-danger">(TLO)</span>
                            </td>
                            <td>
                                <span data-type="content" th:text="${allocationSubmission.teamName}">Team A</span>
                            </td>
                            <td th:unless="${#authorization.expression('hasRole(''ROLE_foreman'')')}">
                                <span data-type="content"
                                      th:text="${allocationSubmission.submitUser.displayName}">test@gmail.com
                                </span>
                            </td>
                            <td th:if="${allocationSubmission.finalizedAt != null}">
                                <span data-type="content">Finalized</span>
                            </td>
                            <td th:unless="${allocationSubmission.finalizedAt != null}" th:switch="${status}">
                                <span data-type="content" th:case="'PENDING'">Pending (edited)</span>
                                <span data-type="content" th:case="'RELEASED'">Released(waiting for approving)</span>
                                <span data-type="content" th:case="'APPROVED'">Approved</span>
                                <span data-type="content" th:case="'DENIED'">Denied</span>
                                <span data-type="content" th:case="'APPROVED_PENDING'">Approved pending</span>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                   href="time-manage.html"
                                   th:href="@{/time-manage(allocationSubmissionId=${allocationSubmission.id})}">View</a>
                                <a href="#deleteModal" class="btn btn-danger"
                                   th:if="${status.equalsIgnoreCase('PENDING')}"
                                   th:attr="data-id=${allocationSubmission.id}"
                                   data-bs-toggle="modal" title="Delete">Delete</a>
                                <a class="btn btn-primary"
                                   sec:authorize="hasAnyRole('ROLE_accountant_foreman', 'ROLE_timekeeper')"
                                   href="foreman-report.html"
                                   style="margin-left: 10px;"
                                   th:href="@{/export(allocationSubmissionId=${allocationSubmission.id})}"
                                   th:if="${status.equalsIgnoreCase('APPROVED')}">Download</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <div id="div-by-date" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">By Date</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="by-date-datepicker">Date of Service:</label>
                        <input id="by-date-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-by-date-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-by-week" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">By Week</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="by-week-datepicker">Week End Date:</label>
                        <input id="by-week-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-by-week-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this timesheet?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/allocation-submission}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        let manualTimesheetDate;

        $(function () {
            $('#by-date-datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            let disableList = [0, 1, 2, 3, 4, 5, 6];
            let index = disableList.indexOf(allowedDayOfWeek);
            disableList.splice(index, 1);
            $('#by-week-datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                disableDaysOfWeek: disableList,
            });
            $("#btn-by-date-ok").on("click", function () {
                let date = $("input#by-date-datepicker").val();
                if (date) {
                    window.location = `timesheets?mode=specificDay&date=${date}`;
                } else {
                    alert("Date of Service is required");
                }
            });
            $("#btn-by-week-ok").on("click", function () {
                let date = $("input#by-week-datepicker").val();
                if (date) {
                    window.location = `timesheets?mode=specificWeek&date=${date}`;
                } else {
                    alert("Week End Date is required");
                }
            });
            let deleteModal =  $('#deleteModal');
            deleteModal.on("show.bs.modal", function (e) {
                // set the username
                let ctx = /*[[@{/}]]*/ '';
                let allocationSubmissionId = $(e.relatedTarget).data('id');
                if (allocationSubmissionId) {
                    $('form#form-delete').attr("action", ctx + `allocation-submission?allocationSubmissionId=${allocationSubmissionId}`);
                } else {
                    let teamName = $(e.relatedTarget).data('team-name');
                    let teamQuery = teamName ? `&teamName=${teamName}` : '';
                    let dateOfService = $(e.relatedTarget).data('dos');
                    $('form#form-delete').attr("action", ctx + `allocation-submission?dateOfService=${dateOfService}${teamQuery}`);
                }
            });
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
